.comments {
  position: relative;
  width: 100%;
}
.comment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5em 0;
}

.comment .comment-content {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 0.5em;

  width: 100%;
}




.comment .comment-bubble {
  width: fit-content;
  height: fit-content;
  text-align: left;
  padding: 0.75em 1em;
}
.comment .comment-bubble span {
  font-size: 0.875em;
}

// comment-writer
.comment .comment-writer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 1.5em;
  overflow: visible;
}

.comment.isWriter .comment-writer {
  justify-content: flex-end;
  padding-left: 0;
}

.comment .writer-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75em;
  width: 100%;
}
.comment .writer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 0.75em;
  opacity: 0.7;
}
.comment .writer span {
  white-space: nowrap;
}

.reply {
  padding-left: 2.875em;
}
.replyMore {
  width: 100%;
  font-size: 0.75em;
  height: 2em;
}
.comment .comment-bubble .reply-writer {
  background-color: rgba(var(--mio-theme-color-primary), 0.12);
  padding: 0.4em;
  font-size: 0.75em;
  border-radius: 1.5em;
  margin-right: 0.5em;
}


/*-- default --*/
.comment.default .comment-bubble {
  color: rgb(var(--font-color));
  background-color: transparent;
  padding: 0.5em 0.5em;
}
.comment.isWriter.default .comment-bubble {
  color: var(--primary-color);
  background-color: transparent;
}
.comment.default {
  border-bottom: 0.0625em solid rgba(var(--primary-color), 0.12);
}
.comment .comment-writer {
  justify-content: flex-start;
}
.comment.default .writer-content {
  padding-left: 2.875em;
}



/*-- bubble --*/

.comment.bubble .isWriter {
  justify-content: flex-end;
}

.comment.bubble .isWriter .comment-profile {
  display: none;
}
.comment.bubble .comment-wrap {
  max-width: 70%;
}

.comment.bubble .writer-content {
  padding: 0 0.5em;
}




/*-- 기본값 --*/
.comment .comment-bubble.bubble {
  border-radius: 1.5em 1.5em 1.5em 0;
  color: rgb(var(--mio-theme-color-primary));
  background-color: rgb(var(--mio-theme-color-primary-10));
}
.comment.isWriter.bubble .comment-bubble {
  border-radius: 1.5em 1.5em 0 1.5em;
  color: rgb(var(--mio-theme-color-on-primary));
  background-color: rgb(var(--mio-theme-color-primary));
}
/*-- custom --*/
// bubble
#preview .comment.bubble .comment-bubble {
  border-radius: var(--border-radius_24) var(--border-radius_24)
    var(--border-radius_24) 0;
}
#preview .comment.isWriter.bubble .comment-bubble {
  border-radius: var(--border-radius_24) var(--border-radius_24) 0
    var(--border-radius_24);
}
#preview .comment.bubble .comment-profile {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--primary-on));
}
#preview .comment.bubble .comment-bubble {
  color: rgb(var(--font-color));
  background-color: rgba(var(--primary-color), 0.12);
}
#preview .comment.isWriter.bubble .comment-bubble {
  color: rgb(var(--primary-on));
  background-color: rgb(var(--primary-color));
}

#preview .comment .comment-bubble .reply-writer {
  background-color: rgba(var(--primary-color), 0.12);
  border-radius: var(--border-radius_24);
}