.editor {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 72px;
}
.editor .editor-item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.editor .editor-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-spacing {
  height: 8.5vh;
}

/*-- formOption --*/
.formOption .flicking {
  display: none;
}
/*--- 모바일 ---*/
@media all and (max-width: 479px) {
  .formOption .formOptionCard {
    width: 36vh;
    gap: 3rem;
    padding: 24px;
  }
  .formOption .ui-grid {
    display: none;
  }
  .formOption .flicking {
    display: block;
    width: 100%;
  }
  .formOption .flicking .formOptionCard {
    width: 86%;
    margin-right: 6%;
  }
}

/*-- formOptionCard --*/

.formOptionCard {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
  padding: 32px;
  border-radius: 32px;
  grid-column: auto / span 4;
}
.formOptionCard .formOptionCard-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.formOptionCard .list-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}
.formOptionCard .title-wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
.formOptionCard .title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 130%;
}
.formOptionCard .list-item {
  flex-wrap: nowrap;
  width: 100%;
  justify-content: flex-start;
  overflow: hidden;
}
.formOptionCard .list-item span {
  font-size: 1rem;
  white-space: nowrap; /* 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 내용 숨김 */
  text-overflow: ellipsis; /* 말줄임 적용 */
  width: 100%;
}
.formOptionCard .image {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.formOptionCard .image .svgColor {
  width: 80%;
}

// hover + selected
.formOptionCard .underlay {
  background-color: rgb(var(--mio-theme-color-background));
  border: 1px solid rgb(var(--mio-theme-color-primary-20));
}
.formOptionCard:hover,
.formOptionCard.selected {
  color: rgb(var(--mio-theme-color-on-primary));
}
.formOptionCard:hover .underlay,
.formOptionCard.selected .underlay {
  background-color: rgb(var(--mio-theme-color-primary));
}
.formOptionCard .formOptionCard-content,
.formOptionCard .image {
  opacity: 0.4;
  transition: all 0.3s ease;
}
.formOptionCard:hover .formOptionCard-content,
.formOptionCard.selected .formOptionCard-content,
.formOptionCard:hover .image,
.formOptionCard.selected .image {
  opacity: 1;
}

// formOptionCard-arrow
.formOptionCard-arrow {
  width: 40px;
  height: 40px;
  opacity: 0;
}
.formOptionCard-arrow svg {
  stroke-width: 12 !important;
}

.formOptionCard:hover .formOptionCard-arrow,
.formOptionCard.selected .formOptionCard-arrow {
  opacity: 1;
}
@media all and (max-width: 479px) {
  .formOptionCard .title {
    font-size: 2rem;
  }
}
