.fnOption {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.fnOption .fnOption-text {
  width: 100%;
}
.flicking-camera .fnOption-text {
  width: 100%;
}
.fnOption-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-12);
  overflow: hidden;
}
.fnOption-image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: inherit;
  border: 1px solid var(--background-on);
  opacity: 0;
}
.fnOption-select {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 4;
}
// text

@media all and (max-width: 1023px) {
  .fnOption {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
