/*-- bottom Sheet --*/
.fileViewer {
  align-items: center;
  justify-content: center;
  margin: auto;
}
.fileViewer > .overlay__scrim {
  background: rgb(var(--mio-theme-color-on-background));
  &.active {
    opacity: 0.8;
  }
}
.fileViewer > .overlay__action {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: auto;
  contain: layout;
  margin: 16px;
  display: flex;
  gap: 12px;
  z-index: 100;
}
.fileViewer > .overlay__page {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: auto;
  contain: layout;
  margin: 16px;
  z-index: 100;
  color: rgb(var(--mio-theme-color-background));
  font-size: 16px;
  display: flex;
  gap: 12px;
}
.fileViewer > .overlay__next,
.fileViewer > .overlay__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
  contain: layout;
  margin: 16px;
  z-index: 100;
}
.fileViewer > .overlay__next {
  right: 0;
}
.fileViewer > .overlay__prev {
  left: 0;
}
.fileViewer > .overlay__content {
  max-height: calc(100% - 32px);
  max-width: calc(100% - 32px);
  margin: 16px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
.fileViewer > .overlay__content > .dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  --v-scrollbar-offset: 0px;
  overflow-y: auto;
}

.fileViewer > .overlay__content > .dialog .dialog-content {
  display: flex;
  flex-direction: column;
}
.fileViewer > .overlay__content > .dialog .dialog-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* 이미지가 가로와 세로 중 큰 쪽에 맞춰 조정됨 */
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}