/* Color Set */
.navigation .overlay__content {
  background-color: var(--mio-theme-color-background);
}
.navigation .overlay__content {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  width: 70%;
  padding: 0 16px;
  gap: 12px;
  height: 100%;
  overflow-y: auto;
  
  border-radius: 24px 0 0 24px;
  transform: translateX(100%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  &.active {
    transform: translateX(0%);
  }
}

.navigation .overlay__scrim {
  top: 0;
  height: 100%;
}
/* 네비게이션 서브 */
.sub-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 56px;
}
.sub-list span {
  font-size: 12px;
  opacity: 0.5;
  cursor: pointer;
}
.sub-list .active {
  font-weight: 700;
  opacity: 1;
}
.navigation-slide-enter-active, .navigation-slide-leave-active {
  transition: all .5s ease;
}
.navigation-slide-enter, .navigation-slide-leave-to {
  transform: translate(100%, 0);
}
