/*-- edit-article --*/
.editor-title {
  font-size: var(--font-size-36);
  font-weight: var(--font-weight);
  color: var(--primary-color);
  padding: 28px 24px 0px 24px;
}
.editor-title p {
  font-size: var(--font-size-12);
  line-height: 100%;
  letter-spacing: 0.1em;
  font-family: "archivo";
}
.edit-article {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 24px;
  width: 100%;
  min-height: 72px;
  cursor: pointer;
  outline-color: var(--primary-color);
  outline-style: var(--border-style);
  outline-width: 1px;
  border-radius: var(--border-radius-16);
}
// edit-article background
.edit-article::before {
  @include absolute_100;
  border-radius: var(--border-radius-16);
  background-color: var(--pc-pc-tr);
  opacity: 0.12;
  transition: opacity 0.3s ease-in-out;
}
.edit-article.active::before {
  opacity: 0.2;
}
// edit-article shadow
.edit-article::after {
  @include absolute_100;
  display: var(--box-shadow-display);
  border-radius: var(--border-radius-16);
  -webkit-box-shadow: 0 10px 20px -10px var(--primary-color);
  box-shadow: 0 10px 20px -10px var(--primary-color);
  opacity: 0.2;
}
.edit-article:hover::before {
  background-color: var(--primary-color);
  opacity: 0.16;
}
.edit-article.active:hover::before {
  opacity: 0.24;
}
.edit-article__title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 18px;
  color: var(--font-color);
  flex: 1;
}
.edit-article__title span {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight);
}

.edit-article__content {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: visible;
}
.edit-item__content {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: visible;
  flex-wrap: wrap;
  gap: 4px;
}
.edit-item__content .v-switch,
.edit-article__content .v-switch {
  flex: unset;
}
.edit-article__content .item-color {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: var(--border-radius-12);
  overflow: hidden;
}
.edit-article__content .item-color::before {
  @include absolute_100;
  border-radius: var(--border-radius-12);
  border-color: var(--background-on);
  border-width: 0.4px;
  border-style: solid;
  opacity: 0.6;
}

.edit-article__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  flex: 1;
  color: var(--primary-color);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight);
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

/*-- custom design --*/
.design-image {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  content: "";
  flex: 2;
}
.design-text {
  height: auto;
  flex: 3;
  text-align: var(--text-align);
  padding: 12px;
  background-color: var(--background-color);
}
.design-title.selected {
  color: var(--primary-color);
}
.selected .fill_design {
  fill: var(--primary-color);
}
.fill_design {
  fill: var(--background-on);
}

/*-- custom background --*/

/*-- custom primary --*/
.stroke_fc.stroke_illust-primary {
  stroke: var(--po-po-pc);
}


/*-- host Bank --*/
.button-select.button-bank {
  justify-content: flex-start;
  overflow: hidden;
}
.button-select.button-bank::before,
.button-select.button-bank::after {
  opacity: 0;
}
