
.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  --v-scrollbar-offset: 0px;
    overflow: scroll;
    overflow-wrap: break-word;
    padding: 0;
    text-decoration: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.preview__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.preview section {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 4px;
    z-index: 1;
    color: var(--font-color);
    background-color: transparent;
    overflow: visible;
}
.preview article {
    position: relative;
    width: 100%;
    background-color: var(--tr-bc-tr);
    border-radius: var(--border-radius-32);
}

// font
.preview .font {
    color: var(--font-color);
}
// variable
// onInv Preview section padding value
.--pa_0-4-0 {
    padding: 0 var(--0-4-0);
}
// onInv Preview countdown padding value
.--pa_4-4-0 {
  padding: 0 var(--4-4-0);
}
.--pa_0-0-12 {
  padding: 0 var(--0-0-12);
}

// padding
.preview .pa_16 {
  padding: 0 4.1%;
}
.preview .pa_24 {
  padding: 0 6.15%;
}
.preview .pa_48 {
  padding: 0 12.3%;
}

//

// previewTitle
.previewTitle {
  position: relative;
  
  max-width: 80%;
  font-size: var(--font-size-32); 
  line-height: 130%;
  font-weight: var(--font-weight);
  text-align: var(--text-align);
}
.previewSubTitle {
  position: relative;
  text-align: var(--text-align);
  width: 100%;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-family: "archivo";
  color: var(--primary-color);
}

// button-sticky
.preview .button-sticky {
  top: -24px;
  width: 56px;
  height: 56px;
  transition: all 0.25s ease;
  z-index: 2;
}
.preview .button-sticky.isSticky {
  top: -24px;
  width: 100%;
}
// 예외 location, comment
.preview .introContact,
.preview .locationApp,
.preview .commentSubmit {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  padding: 0 4.2%;
  bottom: -1%;
  width: 100%;
  height: 56px;
  z-index: 4;
}