.grid-stack-item > .ui-resizable-se {
  width: 32px;
  height: 32px;
  background-color: rgb(var(--mio-theme-color-primary));
  border-radius: 12px;
}
.grid-stack-item > .ui-resizable-se {
  transform: unset;
}
.ui-resizable-handle.ui-resizable-se {
  bottom: 6px !important;
  right: 6px !important;
}
.grid-stack-item > .ui-resizable-ne::before,
.grid-stack-item > .ui-resizable-nw::before,
.grid-stack-item > .ui-resizable-se::before,
.grid-stack-item > .ui-resizable-sw::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 64%;
  height: 64%;
  background-color: rgb(var(--mio-theme-color-on-primary));
  -webkit-mask-image: var(--mio-theme-image-resize);
  mask-image: var(--mio-theme-image-resize);
  background-size: cover;
  background-position: center;
}

.grid-stack-item > .ui-resizable-ne,
.grid-stack-item > .ui-resizable-nw,
.grid-stack-item > .ui-resizable-se,
.grid-stack-item > .ui-resizable-sw {
  background-image: unset!important;
  background-repeat: no-repeat;
  background-position: center;
}
