.appbar_mobile .appbar-content,
.appbar_pc .appbar-items {
  background-color: rgba(var(--mio-theme-color-primary), 0.06);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.appbar_pc .logo-container .logo,
.appbar_mobile .container .logo {
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: var(--mio-theme-font-family-sp);
}
.appbar_pc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* 고정 높이 설정 */
  color: rgb(var(--mio-theme-color-on-background));
  background-color: transparent;
  padding: 0 48px; /* 좌우 패딩 */
  box-sizing: border-box; /* 패딩과 경계선을 포함한 박스 모델 */
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
}
.appbar_pc .container {
  width: 100%;
  height: 100%;
  margin: 0 auto; /* 중앙 정렬 */
  box-sizing: border-box; /* 패딩과 경계선을 포함한 박스 모델 */
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12컬럼 그리드 시스템 설정 */
  gap: 24px; /* 그리드 아이템 간의 간격 */
}
.appbar_pc .logo-container {
  position: relative;
  height: 100%;
  grid-column: 1 / 3; /* 1번 컬럼부터 2번 컬럼까지 */
  display: flex;
  align-items: center;
}
.appbar_pc .logo-container .logo {
  font-size: 1.8rem;
}
/* 메뉴 컨테이너 */
.appbar_pc .menu-container {
  grid-column: 7 / 11; /* 7번 컬럼부터 10번 컬럼까지 */
  display: flex;
  align-items: center;
}
.appbar_pc .login-container {
  grid-column: 12 / 13; /* 12번 컬럼 */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 오른쪽 정렬 */
}
.appbar_pc .login {
  width: 100%;
  height: 40px;
}
.appbar-items {
  display: flex;
  align-items: center;
  gap: 48px;
  height: 52px;
  padding: 0 42px;
  border-radius: 16px;
}
.appbar-items .appbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.appbar-items .appbar-item:hover {
  font-weight: 500;
}
.appbar-items .appbar-item.selected {
  opacity: 0.6;
  pointer-events: none;
}

.appbar_mobile {
  display: none;
}
.appbarAuth {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid rgb(var(--mio-theme-color-primary));
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.04em;
}
.appbarAuth.selected {
  background-color: rgb(var(--mio-theme-color-primary));
  color: rgb(var(--mio-theme-color-on-primary));
}

@media all and (max-width: 479px) {
  .appbar_pc {
    display: none;
  }

  /*-- appbar mobile --*/

  .appbar_mobile {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box; /* 패딩과 경계선을 포함한 박스 모델 */
  }
  .appbar_mobile .appbar-content {
    position: relative;
    border-radius: 16px;
    width: 100%;
    height: 100%;
  }
  .appbar_mobile .appbar-content.isOpen {
  }

  .appbar_mobile .scrim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--mio-theme-color-on-background), 0);
    z-index: -1;
  }
  .appbar_mobile .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    padding: 0 8px 0 24px;
  }
  .appbar_mobile .container .logo {
    font-size: 1.3rem;
  }
  .appbar_mobile .container .logo svg {
    height: 100%;
  }

  .appbar_mobile .appbar-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    width: 100%;
  }
  .appbar_mobile .appbar-panel.isOpen {
    padding: 24px 8px;
    max-height: 1000px; /* 콘텐츠를 모두 담을 수 있을 만큼 큰 값 */
    opacity: 1;
  }

  .appbar-items {
    flex-direction: column;
    gap: 8px;
    height: unset;
    padding: 0;
    background-color: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }
  .appbar-items .appbar-item {
    height: 56px;
  }

  .appbarAuth {
    height: 56px;
  }
  .logout {
    font-size: 12px;
    text-decoration: underline;
    width: 100%;
    text-align: center;
    margin-top: 16px;
    cursor: pointer;
  }
}
