










.cardView {
  justify-content: space-between;
  min-height: 72px;
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  gap: 18px;
}
.card > .underlay {
  background-color: rgb(var(--mio-theme-color-primary-05));
}
.card.hover > .underlay,
.card:hover > .underlay {
  background-color: rgb(var(--mio-theme-color-primary-07));
}
.cardView .cardView-header {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 18px;
}
.cardView .title-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
.cardView .title {
  display: flex;
  align-items: center;
  min-height: 24px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.cardView .content {
  text-align: left;
  font-size: 13px;
  line-height: 140%;
  color: rgb(var(--mio-theme-color-on-background-70));
}
.cardView .cardView-content {
  font-size: 13px;
  text-align: right;
}

/*-- alt --*/
.cardView.alt .cardView-header {
  align-items: center;
}
.cardView.alt .title {
  min-height: unset;
  font-size: 12px;
  font-weight: 400;
  color: rgb(var(--mio-theme-color-on-background-70));
}
.cardView.alt .content {
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
  color: rgb(var(--mio-theme-color-on-background));
}






/*-- cardSelect --*/

.cardSelect {
  position: relative;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 48px 24px;
  border-radius: 26px;
}

.cardSelect .list-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}
.cardSelect .title {
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  opacity: 0.24;  
  transform: translateY(48px);
  transition: all 0.6s ease;
}
.cardSelect .cardSelect-button {
  opacity: 0.24;  
  transition: all 0.6s ease;
}
.cardSelect .list-item {
  flex-wrap: nowrap;
  opacity: 0;  
  width: 100%;
  justify-content: flex-start;
  overflow: hidden;
  transition: all 0.8s ease;
}
.cardSelect.selected .title {
  transform: translateY(0px);
  opacity: 1;
}
.cardSelect.selected .cardSelect-button {
  opacity: 1;  
}
.cardSelect.selected .list-item {
  opacity: 0.7;  
  transform: translateY(2px);
}
.cardSelect.selected .list-item:nth-child(3) {
  transition-delay: 0.2s;
}
.cardSelect.selected .list-item:nth-child(4) {
  transition-delay: 0.4s;
}
.cardSelect.selected .list-item:nth-child(5) {
  transition-delay: 0.6s;
}
.cardSelect .list-item span {
  font-size: 14px;
  white-space: nowrap;          /* 줄바꿈 방지 */
  overflow: hidden;             /* 넘치는 내용 숨김 */
  text-overflow: ellipsis;      /* 말줄임 적용 */
  width: 100%;
}
.cardSelect .image {
  width: 80%;
}
.cardSelect .image svg {
  width: 100%;
}