.grain1 {
  background-image: url("@/assets/image/filter1.webp");
  background-repeat: repeat;
}
.grain2 {
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  opacity: 0.6;
}
.marble1 {
  background-repeat: repeat;
  background-image: url("@/assets/image/filter3.webp");
  mix-blend-mode: multiply;
  pointer-events: none;
}
.paper1 {
  background-size: 40%;
  background-repeat: repeat;
  mix-blend-mode: soft-light;
  background-image: url("@/assets/image/filter4.webp");
  opacity: 0.8;
}
.noise1 {
  background-repeat: repeat;
  filter: contrast(170%) brightness(1000%);
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.8;
}

.naturalPaper {
  background-repeat: repeat;
  background-image: url("https://jwpggit.github.io/storage/image/moInv/naturalPaper.webp");
}
