@mixin absolute_100 {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
// common
.formBox > .outline,
.formBox > .overlay,
.formBox > .shadow {
  @include absolute_100;
  pointer-events: none;
  border-radius: inherit;
  transition: opacity 0.3s ease-in-out;
}

// z-index
.formBox > .outline {
  z-index: -1;
}
.formBox > .overlay {
  z-index: -2;
}
.formBox > .shadow {
  z-index: -3;
}
.formBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 24px;
  width: 100%;
  min-height: 72px;
  cursor: pointer;
  border-radius: var(--border-radius-16);
}
//overlay
.formBox > .overlay {
  background-color: var(--pc-pc-tr);
  opacity: 0.12;
}
.formBox.active > .overlay {
  opacity: 0.2;
}
.formBox:hover > .overlay {
  background-color: var(--primary-color);
  opacity: 0.16;
}
.formBox.active:hover > .overlay {
  opacity: 0.24;
}
// shadow
.formBox > .shadow {
  display: var(--box-shadow-display);
  -webkit-box-shadow: 0 10px 20px -10px var(--primary-color);
  box-shadow: 0 10px 20px -10px var(--primary-color);
  opacity: 0.2;
}
// outline
.formBox > .outline {
  display: var(--border-display);
  outline-color: var(--primary-color);
  outline-style: solid;
  outline-width: 1px;
}

.formBox-title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 18px;
  color: var(--font-color);
  flex: 1;
}
.formBox-title span {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight);
  line-height: 130%;
}

.formBox .formBox-content {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex: 1;
  overflow: visible;
  gap: 4px;
}
.formBox.hidden .formBox-content {
  overflow: hidden;
  width: 100%;
}
.formBox p {
  color: var(--primary-color);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight);
  line-height: 130%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.formBox-content svg {
  color: var(--primary-color);
}
.formBox-content .v-switch {
  flex: unset;
}
.formBox-content .item-color {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 18px;
  height: 18px;
  border-radius: var(--border-radius-12);
  overflow: hidden;

}
.formBox-content .item-color span {
  flex: 1 1 50%;
}
.formBox-content .item-color::before {
  @include absolute_100;
  border-radius: var(--border-radius-12);
  border-color: var(--background-on);
  border-width: 0.4px;
  border-style: solid;
  opacity: 0.6;
}

.settings .formBox {
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  padding: 8px 12px;
  height: 90px;
  cursor: pointer;
}
.settings .formBox .formBox-title {
  width: 100%;
  align-items: flex-start;
  gap: 8px;
}
.settings .formBox .formBox-title span {
  font-size: 14px;
}
.settings .formBox .isType {
  display: none;
}
.settings .formBox .formBox-content {
  align-items: flex-end;
}
