.sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 14vh;
  width: 100%;
  margin: 0;
}
.sidebar .title-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidebar .title-wrap .title {
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  max-width: 100%; /* 부모 요소의 너비를 초과하지 않도록 설정 */
  overflow-wrap: break-word; /* 긴 단어를 줄바꿈합니다. */
  white-space: normal; /* 공백 문자를 줄바꿈 허용 */
}
.sidebar .title-wrap .content {
  font-size: 11px;
  line-height: 100%;
}
.sidebar .button-wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.sidebar .button-wrap button {
  justify-content: flex-start;  
  opacity: 0.4;
}
.sidebar .button-wrap button span {
  font-size: 14px;
  line-height: 140%;
  text-transform: capitalize;
}
.sidebar .button-wrap button.selected {
  opacity: 1;
  font-weight: 700;
}
.sidebar .button-wrap button.completed {
  text-decoration: line-through;
}
