/*-- dialogFull.vue --*/
.overlay.dialogFull {
  z-index: 2000;
}
.dialogFull .overlay__content {
  position: relative; /* 또는 position: absolute; */
  width: 100%;
  height: auto;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 24px;
  align-content: start;
  padding: 0 48px;
  --v-scrollbar-offset: 0px;
  overflow-y: auto;
}
.dialogFull .overlay__content {
  -ms-overflow-style: none;
}
.dialogFull .overlay__content::-webkit-scrollbar {
  display: none;
}
.dialogFull .dialogFull-scrim {
  position: absolute;
  pointer-events: auto;
  grid-column: 6 / 13;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  opacity: 0;
  transition: all 0.3s ease;
  background: rgb(var(--mio-theme-color-on-background));
  &.active {
    opacity: 0.4;
  }
  z-index: -1;
}

.dialogFull > .overlay__content > .dialog {
  padding-bottom: 10vh;
  position: relative;
  grid-column: 7 / 11;
  display: block;
  width: 100%;
  height: auto;
  background-color: rgb(var(--mio-theme-color-background));
}
.dialogFull > .overlay__content > .overlay-header {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(10vh + 64px);
  top: 0;
  grid-column: 7 / 11;
  z-index: 10;
  background-color: rgb(var(--mio-theme-color-background));
}
.dialogFull > .overlay__content > .overlay-header .dialog-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 64px;
}

.dialogFull > .overlay__content > .dialog .dialog-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: calc(90vh - 64px);
}

/*--- 태블렛 ---*/
@media all and (max-width: 1023px) {
  .dialogFull > .overlay__content {
    max-width: 480px;
  }
}
