/*-- dialogModal.vue --*/
.dialogModal {
  align-items: center;
  justify-content: center;
  margin: auto;
}
.dialogModal > .overlay__scrim {
  background: rgb(var(--mio-theme-color-on-background));
  &.active {
    opacity: 0.4;
  }
}
.dialogModal > .overlay__content {
  max-width: 480px;
}
.dialogModal > .overlay__content {
  max-height: calc(100% - 32px);
  width: calc(100% - 32px);
  margin: 16px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
.dialogModal > .overlay__content > .dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  --v-scrollbar-offset: 0px;
  overflow-y: auto;
  border-radius: 26px;
  background-color: rgb(var(--mio-theme-color-background));
}
.dialogModal > .overlay__content > .dialog .dialog-close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
}
.dialogModal > .overlay__content > .dialog .dialog-content {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
.dialogModal > .overlay__content > .dialog .dialog-actions {
  width: 100%;
  padding: 0 24px;
  margin-top: 24px;
}

/*--- 태블렛 ---*/
@media all and (max-width: 1023px) {
  .dialogModal > .overlay__content {
    max-width: 480px;
  }
}
