/*-- dialogModal.vue --*/
.dialogModal {
  align-items: center;
  justify-content: center;
  margin: auto;
}
.dialogModal > .overlay__scrim {
  background: rgb(var(--mio-theme-color-on-background));
  &.active {
    opacity: 0.4;
  }
}

.dialogModal > .overlay__content > .dialog::-webkit-scrollbar {
  display: none;
}
.dialogModal > .overlay__content > .dialog {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.dialogModal > .overlay__content {
  max-width: 560px;
}
.dialogModal > .overlay__content {
  max-height: calc(100% - 32px);
  width: calc(100% - 32px);
  margin: 16px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
.dialogModal > .overlay__content > .dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  --v-scrollbar-offset: 0px;
  overflow-y: auto;
  border-radius: 2em;
  background-color: rgb(var(--mio-theme-color-background));
}
.dialogModal > .overlay__content > .dialog .dialog-close {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 10;
}
.dialogModal > .overlay__content > .dialog .dialog-content {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}
.dialogModal > .overlay__content > .dialog .dialog-actions {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 0 24px;
  margin-top: 24px;
}
.dialogModal > .overlay__content > .dialog .dialog-content .pa_modal {
  padding-left: 3em;
  padding-right: 3em;
}
.dialogModal > .overlay__content > .dialog .dialog-content .sp_modal {
  height: 8.5vh;
}
@media all and (max-width: 479px) {
  .dialogModal > .overlay__content > .dialog {
    border-radius: 0;
  }
  .dialogModal > .overlay__content {
    height: 100%;
    max-height: 100%;
    width: 100%;
    margin: 0;
  }
  .dialogModal > .overlay__content > .dialog {
    height: 100%;
  }
  .dialogModal > .overlay__content > .dialog .dialog-content .pa_modal {
    padding-left: 1em;
    padding-right: 1em;
  }
}
