/*-- bottom Sheet --*/
.dialogBottom {
  align-items: flex-end;
  justify-content: center;
  margin: auto;
}
.dialogBottom > .overlay__scrim {
  background: rgb(var(--mio-theme-color-on-background));
  &.active {
    opacity: 0.08;
  }
}
.dialogBottom > .overlay__content {
  max-width: 480px;
}
.dialogBottom > .overlay__content {
  max-height: calc(100% - 32px);
  width: calc(100% - 32px);
  margin: 16px;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  &.active {
    transform: translateY(0%);
  }
}
.dialogBottom > .overlay__content > .dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  --v-scrollbar-offset: 0px;
  overflow-y: auto;
  border-radius: 26px;
  background-color: rgb(var(--mio-theme-color-primary-05));
}
.dialogBottom > .overlay__content > .dialog .dialog-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 48px;
  padding: 0 8px 0 24px;
}
.dialogBottom > .overlay__content > .dialog .dialog-header span {
  font-size: 16px;
  font-weight: 700;
}
.dialogBottom > .overlay__content > .dialog .dialog-content {
  display: flex;
  flex-direction: column;
  padding: 0 8px 8px 8px;
}


/*--- 태블렛 ---*/
@media all and (max-width: 1023px) {
  .dialogBottom > .overlay__content {
    max-width: 480px;
  }
}
