/*-- common --*/
.overlay-container {
  contain: layout;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  display: contents;
}
.overlay {
  direction: ltr;
  padding-inline-end: 0;
  border-radius: inherit;
  display: flex;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}
.overlay__scrim {
  pointer-events: auto;
  border-radius: inherit;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
.overlay__content {
  outline: none;
  position: absolute;
  pointer-events: auto;
  contain: layout;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

