.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  --v-scrollbar-offset: 0px;
  overflow: scroll;
  overflow-wrap: break-word;
  padding: 0;
  text-decoration: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: rgb(var(--font-color));
}
.preview::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.preview {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.preview-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.pa_40 {
  padding-left: 40px;
  padding-right: 40px;
}

/*-- spacing --*/
.sp_22 {
  height: 22px;
}
.sp_56 {
  height: 56px;
}
.sp_88 {
  height: 88px;
}
.sp_196 {
  height: 196px;
}
/*-- flex --*/
.align-items_inherit {
  align-items: inherit;
}
.--justify-content {
  justify-content: var(--justify-content);
}

/*-- line-height --*/
.line-height_130 {
  line-height: 130%;
}

/*-- font-size --*/

.--font-size_11 {
  font-size: var(--font-size_11);
}
.--font-size_12 {
  font-size: var(--font-size_12);
}
.--font-size_13 {
  font-size: var(--font-size_13);
}
.--font-size_16 {
  font-size: var(--font-size_16);
}

.--font-size_22 {
  font-size: var(--font-size_22);
}
.--font-size_24 {
  font-size: var(--font-size_24);
}
.--font-size_32 {
  font-size: var(--font-size_32);
}
.--font-size_48 {
  font-size: var(--font-size_48);
}

.letter-spacing_8 {
  letter-spacing: 0.08em;
}
.line-height_100 {
  line-height: 100%;
}
/*-- font-weight --*/
.font-weight_500 {
  font-weight: 500;
}
.font-weight_700 {
  font-weight: 700;
}

/*-- tiptap --*/
.preview-tiptap h3 {
  font-size: 18px;
  line-height: 130%;
  height: fit-content;
}
.preview-tiptap h4 {
  font-size: 16px;
  line-height: 130%;
  height: fit-content;
}
.preview-tiptap p {
  font-size: 13px;
  line-height: 180%;
  min-height: 23px;
}
.preview-tiptap h5 {
  font-size: 12px;
  line-height: 180%;
  height: fit-content;
}
.preview-tiptap h6 {
  font-size: 10px;
  line-height: 130%;
  height: fit-content;
}

/*-- functions --*/

#audiosView {
  position: fixed;
  top: 16px;
  left: 16px;
  overflow: visible;
  z-index: 4;
}
#functionsView {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 16px;
  right: 16px;
  gap: 8px;
  overflow: visible;
  z-index: 4;
}

/*-- section --*/
// 공통
#preview {
  text-align: var(--text-align);
}
#preview .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: var(--border-radius_28);
  background-color: rgb(var(--background-color));
}
// 인트로
#introView {
  z-index: 4;
}
.previewIntro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 196px;
  padding-bottom: 88px;
}
.tiptap-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  width: 100%;
  padding: 0 40px;
}

// 호스트
.previewHost {
  align-items: var(--align-items);
  gap: 40px;
  padding: 88px 40px;
}
#previewHost.design1 {
  z-index: 10;
}
#previewHost.design1 .shadow {
  -webkit-filter: drop-shadow(0px 16px 32px rgba(var(--background-on), 0.06));
  filter: drop-shadow(0px 16px 32px rgba(var(--background-on), 0.06));
  -webkit-box-shadow: 0 32px 96px rgba(var(--background-on), 0.1);
  box-shadow: 0 32px 96px rgba(var(--background-on), 0.1);
}
// 캘린더
.previewCalendar {
  align-items: center;
  gap: 64px;
  padding: 196px 0 88px 0;
}
// 위치
.previewLocation {
  align-items: center;
  gap: 128px;
  padding: 196px 16px 32px 16px;
}
// 지도

#previewMap {
  position: relative;
  display: block;
  padding: 4px 8px;
}
#previewMap.design1 {
  z-index: 10;
}
#previewMap.design1 .shadow {
  -webkit-filter: drop-shadow(0px 16px 32px rgba(var(--background-on), 0.06));
  filter: drop-shadow(0px 16px 32px rgba(var(--background-on), 0.06));
  -webkit-box-shadow: 0 32px 96px rgba(var(--background-on), 0.1);
  box-shadow: 0 32px 96px rgba(var(--background-on), 0.1);
}
#previewMap.design3 {
  border-top: 1px solid rgba(var(--primary-color), 0.4);
  padding: 0;
}
#previewMap .previewMap {
  width: 100%;
  height: 390px;
  border-radius: var(--border-radius_28);
}
#previewMap #map {
  border-radius: var(--border-radius_28);
}
#previewMap.design3 #map {
  border-radius: unset;
}
// 대중교통
.previewTransport {
  padding: 128px 16px;
}
.previewTransport .flicking-camera {
  height: 56px;
}
// 갤러리
.previewGallery {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 196px 0;
  gap: 196px;
}
.previewGallery.design3 {
  border-top: 1px solid rgba(var(--primary-color), 0.4);
}
// 설문조사

// 댓글
.previewComment {
  align-items: var(--align-items);
  gap: 48px;
  padding: 196px 0 88px 0;
}
.previewComment .title-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: var(--align-items);
  justify-content: center;
  gap: 24px;
  padding: 0 24px;
  width: 100%;
}
// 은행
.previewDeposit {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 88px;
  padding: 196px 0 88px 0;
}
.previewDeposit-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 56px;
}
// shadow
.preview .container .shadow {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  z-index: -1;
}
.preview .container .overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
}
