.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  --v-scrollbar-offset: 0em;
  overflow: scroll;
  overflow-wrap: break-word;
  padding: 0;
  text-decoration: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: rgb(var(--font-color));
  font-weight: var(--font-weight_400);
}
.preview::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.preview {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.preview-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.pa_40 {
  padding-left: 2.5em;
  padding-right: 2.5em;
}
.icon_12 {
  width: 0.75em;
  height: 0.75em;
}
.icon_14 {
  width: 0.875em;
  height: 0.875em;
}
.icon_16 {
  width: 1em;
  height: 1em;
}
.icon_18 {
  width: 1.125em; 
  height: 1.125em; 
}
.icon_20 {
  width: 1.25em;
  height: 1.25em;
}
.icon_24 {
  width: 1.5em;
  height: 1.5em;
}
.gap_4 {
  gap: 0.25em;
}
.gap_8 {
  gap: 0.5em;
}
.gap_12 {
  gap: 0.75em;
}
.gap_16 {
  gap: 1em;
}
.gap_24 {
  gap: 1.5em;
}
/*-- spacing --*/
.sp_8 {
  height: 0.5em;
}
.sp_12 {
  height: 0.75em;
}
.sp_22 {
  height: 1.375em;
}
.sp_24 {
  height: 1.5em;
}
.sp_56 {
  height: 3.5em;
}
.sp_72 {
  height: 4.5em;
}
.sp_88 {
  height: 5.5em;
}
.sp_196 {
  height: 12.25em;
}
/*-- flex --*/
.align-items_inherit {
  align-items: inherit;
}
.--justify-content {
  justify-content: var(--justify-content);
}

/*-- line-height --*/
.line-height_130 {
  line-height: 130%;
}

/*-- font-size --*/

.--font-size_11 {
  font-size: var(--font-size_11);
}
.--font-size_12 {
  font-size: var(--font-size_12);
}
.--font-size_13 {
  font-size: var(--font-size_13);
}
.--font-size_16 {
  font-size: var(--font-size_16);
}

.--font-size_22 {
  font-size: var(--font-size_22);
}
.--font-size_24 {
  font-size: var(--font-size_24);
}
.--font-size_32 {
  font-size: var(--font-size_32);
}
.--font-size_48 {
  font-size: var(--font-size_48);
}

.letter-spacing_8 {
  letter-spacing: 0.08em;
}
.line-height_100 {
  line-height: 100%;
}
/*-- font-weight --*/
.font-weight_500 {
  font-weight: var(--font-weight_500);
}
.font-weight_700 {
  font-weight: var(--font-weight_700);
}

/*-- tiptap --*/
.preview-tiptap h3 {
  font-size: var(--font-size_18);
  line-height: 130%;
  height: fit-content;
}
.preview-tiptap h4 {
  font-size: var(--font-size_16);
  line-height: 130%;
  height: fit-content;
}
.preview-tiptap p {
  font-size: var(--font-size_13);
  line-height: 180%;
  min-height: 23px;
}
.preview-tiptap h5 {
  font-size: var(--font-size_12);
  line-height: 180%;
  height: fit-content;
}
.preview-tiptap h6 {
  font-size: var(--font-size_11);
  line-height: 130%;
  height: fit-content;
}


/*-- functions --*/

#audiosView {
  position: fixed;
  top: 1em;
  left: 1em;
  overflow: visible;
  z-index: 4;
}
#functionsView {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 1em;
  right: 1em;
  gap: 0.5em;
  overflow: visible;
  z-index: 4;
}

/*-- section --*/
// 공통
#preview {
  text-align: var(--text-align);
}
#preview .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: var(--border-radius_28);
  background-color: rgb(var(--background-color));
}
// 인트로
#introView {
  z-index: 4;
}
.previewIntro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12.25em;
  padding-bottom: 5.5em;
}
.tiptap-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.375em;
  padding: 0 2.5em; /* (상단, 우측, 하단, 좌측) */
  width: 100%;
}

// 호스트
.previewHost {
  align-items: var(--align-items);
  gap: 2.5em;
  padding: 5.5em 2.5em;
}
#previewHost.design1 {
  z-index: 10;
}
#previewHost.design1 .shadow {
  -webkit-filter: drop-shadow(0 1em 2em rgba(var(--background-on), 0.06));
  filter: drop-shadow(0 1em 2em rgba(var(--background-on), 0.06));
  -webkit-box-shadow: 0 2em 6em rgba(var(--background-on), 0.1);
  box-shadow: 0 2em 6em rgba(var(--background-on), 0.1);
}
// 캘린더
.previewCalendar {
  align-items: center;
  gap: 4em;
  padding: 12.25em 0 5.5em 0; /* (상단, 우측, 하단, 좌측) */
}
// 위치
.previewLocation {
  align-items: center;
  gap: 8em;
  padding: 12.25em 1em 2em 1em; /* (상단, 우측, 하단, 좌측) */
}
// 지도

#previewMap {
  position: relative;
  display: block;
  padding: 0.25em 0.5em; /* (상단 및 하단, 좌측 및 우측) */
}
#previewMap.design1 {
  z-index: 10;
}
#previewMap.design1 .shadow {
  -webkit-filter: drop-shadow(0em 1em 2em rgba(var(--background-on), 0.06));
  filter: drop-shadow(0em 1em 2em rgba(var(--background-on), 0.06));
  -webkit-box-shadow: 0em 2em 6em rgba(var(--background-on), 0.1);
  box-shadow: 0em 2em 6em rgba(var(--background-on), 0.1);
}
#previewMap.design3 {
  border-top: 0.0625em solid rgba(var(--primary-color), 0.4);
  padding: 0;
}
#previewMap .previewMap {
  width: 100%;
  height: 390px;

  border-radius: var(--border-radius_28);
}
#previewMap #map {
  border-radius: var(--border-radius_28);
}
#previewMap.design3 #map {
  border-radius: unset;
}
// 대중교통
.previewTransport {
  padding: 8em 1em; /* (상단 및 하단, 좌측 및 우측) */
}
.previewTransport .flicking-camera {
  height: 3.5em;
}
// 갤러리
.previewGallery {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12.25em 0; /* (상단 및 하단, 좌측 및 우측) */
  gap: 12.25em;
}
.previewGallery.design3 {
  border-top: 0.0625em solid rgba(var(--primary-color), 0.4);
}
// 설문조사

// 댓글
.previewComment {
  align-items: var(--align-items);
  gap: 3em;
  padding: 12.25em 0 5.5em 0; /* (상단, 우측, 하단, 좌측) */
}
.previewComment .title-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: var(--align-items);
  justify-content: center;
  gap: 1.5em;
  padding: 0 1.5em; /* (상단, 우측, 하단, 좌측) */
  width: 100%;
}
// 은행
.previewDeposit {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5.5em;
  padding: 12.25em 0 5.5em 0; /* (상단, 우측, 하단, 좌측) */
}
.previewDeposit-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5em;
}
// shadow
.preview .container .shadow {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  z-index: -1;
}
.preview .container .overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
}
