/*-- bottom Sheet --*/
.bottomSheet {
  align-items: flex-end;
  justify-content: center;
  margin: auto;
}
.bottomSheet > .overlay__content {
  max-width: 480px;
}
.bottomSheet > .overlay__content {
  max-height: calc(100% - 48px);
  width: calc(100% - 48px);
  margin: 24px;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  &.active {
    transform: translateY(0%);
  }
}
.bottomSheet > .overlay__content > .dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  --v-scrollbar-offset: 0px;
  overflow-y: auto;
  padding-top: 32px;
  padding-bottom: 8px;
}
.bottomSheet > .overlay__content > .dialog::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 4px;
  border-radius: 20px;
  background-color: black;
  opacity: 0.15;
}
.bottomSheet > .overlay__content > .dialog .dialog-header {
  height: 40px;
}
.bottomSheet > .overlay__content > .dialog .dialog-header span {
  font-size: 14px;
}
/*--- 태블렛 ---*/
@media all and (max-width: 1023px) {
  .bottomSheet > .overlay__content {
    max-width: 480px;
  }
}
