.checkbox {
  width: fit-content;
  height: 24px;
  gap: 8px;
}
.checkbox span {
  text-align: left;
  font-size: 14px;
  color: rgb(var(--mio-theme-color-on-background));
}
.checkbox.selected span {
  font-weight: 500;
  color: rgb(var(--mio-theme-color-on-background));
}
.checkbox .checked {
  stroke: rgb(var(--mio-theme-color-on-primary));
}
.checkbox .underlay {
border-radius: 8px;
  }
.checkbox:hover .underlay,
.checkbox.hover .underlay
{
  background-color: rgb(var(--mio-theme-color-primary-10));
}
.checkbox.selected .underlay {
  background-color: rgb(var(--mio-theme-color-primary-20));
}