.checkbox {
  width: fit-content;
  height: 24px;
  gap: 8px;
}
.checkbox span {
  text-align: left;
  color: rgb(var(--mio-theme-color-on-background));
  font-size: 13px;
  opacity: 0.7;
}
.checkbox.selected span {
  font-weight: 500;
  color: rgb(var(--mio-theme-color-on-background));
  opacity: 1;
}


.checkbox .underlay {
  border-radius: 8px;
}
.checkbox:hover .underlay,
.checkbox.hover .underlay {
  background-color: rgb(var(--mio-theme-color-primary-10));
}
.checkbox.selected .underlay {
  background-color: rgb(var(--mio-theme-color-primary-20));
}
