/*--- common.scss ---*/
@import "./@mixin.scss";
@import "./@import.scss";
body {
  font-family: var(--mio-theme-font-family);
}
* {
  white-space: normal;
  word-break: keep-all;
  box-sizing: border-box;
  text-decoration-line: none;
}
.disabled {
  pointer-events: none;
}
.animation {
  transition: all 0.2s ease-in-out;
}
textarea:focus {
  outline: none;
}
// width
.width_24 {
  width: 24px;
}
.width_32 {
  width: 32px;
}
.width_38 {
  width: 38px;
}
.width_40 {
  width: 40px;
}
.width_48 {
  width: 48px;
}
.width_64 {
  width: 64px;
}

.width_50 {
  width: 50%;
}
.width_60 {
  width: 60%;
}
.width_70 {
  width: 70%;
}
.width_80 {
  width: 80%;
}
.width_90 {
  width: 90%;
}
.width_100 {
  width: 100%;
}
.width_fit-content {
  width: fit-content;
}
.width_50--100 {
  width: 50%;
}

.max-width_360 {
  max-width: 360px;
}

// height
.height_20 {
  height: 20px;
}
.height_24 {
  height: 24px;
}
.height_28 {
  height: 28px;
}
.height_32 {
  height: 32px;
}
.height_34 {
  height: 34px;
}
.height_36 {
  height: 36px;
}
.height_38 {
  height: 38px;
}

.height_40 {
  height: 40px;
}
.height_48 {
  height: 48px;
}
.height_52 {
  height: 52px;
}
.height_56 {
  height: 56px;
}
.height_64 {
  height: 64px;
}
.height_72 {
  height: 72px;
}
.height_80 {
  height: 80px;
}
.height_88 {
  height: 88px;
}

.height_100 {
  height: 100%;
}
.height_108 {
  height: 108px;
}
.min-height_40 {
  min-height: 40px;
}
.min-width_100 {
  min-width: 100%;
}
.icon_10 {
  width: 10px;
  height: 10px;
}
.icon_12 {
  width: 12px;
  height: 12px;
}
.icon_14 {
  width: 14px;
  height: 14px;
}
.icon_16 {
  width: 16px;
  height: 16px;
}
.icon_18 {
  width: 18px;
  height: 18px;
}
.icon_20 {
  width: 20px;
  height: 20px;
}
.icon_24 {
  width: 24px;
  height: 24px;
}
.icon_28 {
  width: 28px;
  height: 28px;
}
.icon_32 {
  width: 32px;
  height: 32px;
}
.icon_36 {
  width: 36px;
  height: 36px;
}
.icon_40 {
  width: 40px;
  height: 40px;
}
.icon_48 {
  width: 48px;
  height: 48px;
}

// display
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.display_flex {
  display: flex;
}
.display_none {
  display: none;
}

.display_flex--block {
  display: flex;
}
.display_none--block {
  display: none;
}
.display_block--none {
  display: block;
}
.display_none--flex {
  display: none;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-direction_column {
  flex-direction: column;
}
.flex_1 {
  flex: 1;
}
.flex_5 {
  flex: 5;
}
.flex-shrink_0 {
  flex-shrink: 0;
}
.flex-wrap_wrap {
  flex-wrap: wrap;
}
// justify-content
.justify-content_center {
  justify-content: center;
}
.justify-content_space-between {
  justify-content: space-between;
}
.justify-content_flex-end {
  justify-content: flex-end;
}

// align-items
.align-items_center {
  align-items: center;
}
.align-items_flex-end {
  align-items: flex-end;
}
.align-items_flex-start {
  align-items: flex-start;
}
.text-align_center {
  text-align: center;
}
.text-align_right {
  text-align: right;
}

.cursor_pointer {
  cursor: pointer;
}

.pa_32__16 {
  padding: 0 32px;
}
.pa_vw--0 {
  padding-left: 4vw;
  padding-right: 4vw;
}
.pa_vw--4 {
  padding-left: 4vw;
  padding-right: 4vw;
}

.padding-top_48--0 {
  padding-top: 48px;
}
.padding-bottom_0 {
  padding-bottom: 0 !important;
}

/*-- gap --*/
.gap_2 {
  gap: 2px;
}
.gap_4 {
  gap: 4px;
}
.gap_6 {
  gap: 6px;
}
.gap_8 {
  gap: 8px;
}
.gap_12 {
  gap: 12px;
}
.gap_16 {
  gap: 16px;
}
.gap_18 {
  gap: 18px;
}
.gap_20 {
  gap: 20px;
}
.gap_24 {
  gap: 24px;
}
.gap_32 {
  gap: 32px;
}

/*-- font-size --*/
.font-size_10 {
  font-size: 10px;
}
.font-size_11 {
  font-size: 11px;
}
.font-size_12 {
  font-size: 12px;
}
.font-size_13 {
  font-size: 13px;
}
.font-size_14 {
  font-size: 14px;
}
.font-size_16 {
  font-size: 16px;
}
.font-size_18 {
  font-size: 18px;
}
.font-size_20 {
  font-size: 20px;
}
.font-size_22 {
  font-size: 22px;
}
.font-size_24 {
  font-size: 24px;
}
.font-size_26 {
  font-size: 26px;
}
.font-size_28 {
  font-size: 28px;
}
.font-size_32 {
  font-size: 32px;
}
.font-size_36 {
  font-size: 36px;
}
.font-size_64 {
  font-size: 64px;
}
.font-size_72 {
  font-size: 72px;
}
.font-size_80 {
  font-size: 80px;
}

/*-- border-radius --*/
.border-radius_12 {
  border-radius: 12px;
}
.border-radius_16 {
  border-radius: 16px;
}
.border-radius_24 {
  border-radius: 24px;
}
.border-radius_32 {
  border-radius: 32px;
}

/*-- Padding --*/
.pa_0 {
  padding: 0 !important;
}
.pa_4 {
  padding: 0 4px;
}
.pa_6 {
  padding: 0 6px;
}
.pa_8 {
  padding: 0 8px;
}
.pa_12 {
  padding: 0 12px;
}
.pa_16 {
  padding-left: 16px;
  padding-right: 16px;
}
.pa_20 {
  padding: 0 20px;
}
.pa_24 {
  padding-left: 24px;
  padding-right: 24px;
}
.pa_28 {
  padding-left: 28px;
  padding-right: 28px;
}
.pa_32 {
  padding-left: 32px;
  padding-right: 32px;
}
.pa_36 {
  padding-left: 36px;
  padding-right: 36px;
}
.pa_48 {
  padding-left: 48px;
  padding-right: 48px;
}
.pa_56 {
  padding-left: 56px;
  padding-right: 56px;
}
.pa_64 {
  padding-left: 64px;
  padding-right: 64px;
}

/*-- Spacing --*/
.sp_2 {
  height: 2px;
}
.sp_4 {
  height: 4px;
}
.sp_6 {
  height: 6px;
}
.sp_8 {
  height: 8px;
}
.sp_10 {
  height: 10px;
}
.sp_12 {
  height: 12px;
}
.sp_16 {
  height: 16px;
}
.sp_18 {
  height: 18px;
}
.sp_20 {
  height: 20px;
}
.sp_22 {
  height: 22px;
}
.sp_24 {
  height: 24px;
}
.sp_28 {
  height: 28px;
}
.sp_32 {
  height: 32px;
}
.sp_36 {
  height: 36px;
}
.sp_40 {
  height: 40px;
}
.sp_44 {
  height: 44px;
}
.sp_48 {
  height: 48px;
}
.sp_52 {
  height: 52px;
}
.sp_56 {
  height: 56px;
}
.sp_64 {
  height: 64px;
}
.sp_72 {
  height: 72px;
}
.sp_80 {
  height: 80px;
}
.sp_96 {
  height: 96px;
}
.sp_108 {
  height: 108px;
}
.sp_120 {
  height: 120px;
}
.sp_128 {
  height: 128px;
}
.sp_160 {
  height: 160px;
}
.sp_176 {
  height: 176px;
}
.sp_180 {
  height: 180px;
}

/*-- opacity --*/
.opacity_0 {
  opacity: 0%;
}
.opacity_10 {
  opacity: 10%;
}
.opacity_20 {
  opacity: 20%;
}
.opacity_30 {
  opacity: 30%;
}
.opacity_40 {
  opacity: 40%;
}
.opacity_50 {
  opacity: 50%;
}
.opacity_60 {
  opacity: 60%;
}
.opacity_70 {
  opacity: 70%;
}
.opacity_80 {
  opacity: 80%;
}
.opacity_90 {
  opacity: 90%;
}
.opacity_100 {
  opacity: 100%;
}

/*-- rotate --*/
.rotate_90 {
  transform: rotate(90deg);
}

/*-- z-index --*/
.z-index_1 {
  z-index: 1;
}
.z-index_2 {
  z-index: 2;
}
.z-index_3 {
  z-index: 3;
}
.z-index_4 {
  z-index: 4;
}
.z-index_5 {
  z-index: 5;
}

/*-- Fill --*/
.fill_bc {
  fill: var(--background-color);
}
.fill_bo {
  fill: var(--background-on);
}
.fill_pc {
  fill: var(--primary-color);
}
.fill_po {
  fill: var(--primary-on);
}

.fill_fc {
  fill: var(--font-color);
}
.fill_color {
  fill: currentColor;
  stroke: unset;
}
.fill_current {
  fill: currentColor !important;
}

/*-- stroke --*/
.stroke_fc {
  fill: none;
  stroke: var(--font-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 1.5;
}
.stroke_po {
  fill: none;
  stroke: var(--primary-on);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 1.5;
}
.stroke_bc {
  stroke: var(--background-color);
}
.stroke_unset {
  stroke: unset !important;
}
.stroke_arrow {
  stroke-width: 8 !important;
}
.object-fit_cover {
  object-fit: cover;
}
.text-overflow_ellipsis {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.width_max-content {
  position: relative;
  width: intrinsic; /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content; /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: max-content;
}
.word-break_break-all {
  word-break: break-all;
}
/*--- line-height ---*/
.line-height_100 {
  line-height: 100%;
}
.line-height_120 {
  line-height: 120%;
}
.line-height_130 {
  line-height: 130%;
}
.line-height_140 {
  line-height: 140%;
}
.line-height_152 {
  line-height: 152%;
}
.line-height_176 {
  line-height: 176%;
}
.line-height_180 {
  line-height: 180%;
}
.letter-spacing_1 {
  letter-spacing: 0.1em;
}
.letter-spacing_2 {
  letter-spacing: 0.2em;
}
.position_relative {
  position: relative;
}
.position_absolute {
  position: absolute;
}
.color_primary-color {
  color: var(--primary-color);
}
.color_kakaopay {
  color: #ffeb00;
}
.color_--mio-theme-color-primary {
  color: rgb(var(--mio-theme-color-primary));
}
.text-decoration_underline {
  text-decoration: underline;
}
.common-space {
  width: 14%;
  background-color: #ffeb00;
}

.list ul {
  list-style: none;
}
.list ul li {
  position: relative;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: var(--font-weight);
}
.list ul content {
  display: block;
  margin-bottom: 32px;
}
.list ul li:before {
  display: inline-block;
  width: 8px;
  height: 8px;
  transform: rotate(calc(var(--rotation) * 36deg));
  background-color: var(--font-color);
  -webkit-mask-image: url(@/assets/list-bullet.svg);
  mask-image: url(@/assets/list-bullet.svg);
  background-size: cover;
  line-height: 0;
  text-align: center;
  content: "";
  margin-right: 8px;
  margin-bottom: 2px;
}
.list ul li:nth-child(2) {
  --rotation: 2;
}
.list ul li:nth-child(4n + 3) {
  --rotation: 3;
}
.list ul li:nth-child(3n + 2) {
  --rotation: 4;
}
.list ul li:nth-child(3n) {
  --rotation: 5;
}
.list ul li:nth-child(4n + 1) {
  --rotation: 6;
}
.list ul li:nth-child(3n + 1) {
  --rotation: 7;
}

.v-list-item__content {
  overflow: visible;
}
.v-list-item-title,
.flicking-title {
  hyphens: auto;
  overflow-wrap: normal;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: unset;
  line-height: 1.5rem;
  text-transform: none;
}
.v-list-item-subtitle,
.flicking-exp {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  opacity: var(--v-medium-emphasis-opacity);
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: unset;
  line-height: 1rem;
  text-transform: none;
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 1023px) {
  .width_50--100 {
    width: 100%;
  }
  .padding-top_48--0 {
    padding-top: 0 !important;
  }
  .pa_32__16 {
    padding: 0 16px;
  }
  .pa_vw--0 {
    padding-left: 0;
    padding-right: 0;
  }
  .pa_vw--4 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .display_flex--block {
    display: block;
  }
  .display_none--block {
    display: block;
  }
  .display_block--none {
    display: none;
  }
  .display_none--flex {
    display: flex;
  }
  .common-space {
    width: unset;
  }
}

/*-- 태블릿 --*/
@media all and (max-width: 1023px) {
}

/*--- 모바일 ---*/
@media all and (max-width: 479px) {
}
