
#post {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
  }
  #write,
  #preview {
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    color: var(--font-color);
    background-color: var(--background-color);
  }
  
  #write {
    position: relative;
    display: block;
    flex: 6.5;
    height: 100vh;
    overflow: hidden;
  }
  #write #write__wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid var(--primary-color);
  }
  
  #write #background__overlay,
  .mobile #background__overlay {
    display: var(--none-block-none);
  }
  #background__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.08;
    background-color: var(--background-on);
  }
  #write .write__content,
  #write .write__container {
    position: relative;
    display: block;
    width: 100%;
  }
  #write .write__container { padding: 0 14px; }
  #preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3.5;
    height: 100vh;
    //padding-right: 88px;
    z-index: 2;
    background-size: cover;
  }
  
  #write section { flex: 1; padding: 8px; }
  #preview section { width: 100%; padding: 8px 16px; }
  section {
    position: relative;
    margin: 0;
    
    z-index: 1;
    background-color: transparent;
  }
  article {
    position: relative;
    width: 100%;
    padding-bottom: 48px;
    color: var(--font-color);
    background-color: var(--tr-bc-tr);
    border-radius: var(--border-radius-24);
    border-width: 1px;
    border-style: var(--border-style);
    border-color: var(--tr-bo-tr);
   
    z-index: 1;
  }

  article::before {
    position: absolute;
    display: var(--none-block-none);
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-24);

    -webkit-box-shadow: var(--box-shadow-1) var(--background-on); 
    box-shadow: var(--box-shadow-1) var(--background-on); 
    z-index: 0;

  }
  #write article .title__wrap {
    position: relative;
    padding-top: 48px;
    padding-bottom: 32px;
  }
  .mobile article {
    padding-bottom: 0px;
  }
  
  .icon-help {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    color: var(--primary-color);
    background-color: var(--primary-on);
  }
  .icon-help svg {
    width: 11px;
    height: 11px;
  }
  .article__flex {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
  .main_type__wrap {
    color: var(--font-color);
    z-index: 1;
    background-color: var(--background-color);
  }
  #preview .mobile {
    position: relative;
    display: block;
    height: 80%;
    margin-right: 88px;
    aspect-ratio: 39 / 84;
    overflow-y: scroll;
    overflow-x: hidden;    
    z-index: 3;
    border-radius: var(--border-radius-24);
    outline: 8px solid var(--primary-color);
  }
  html::-webkit-scrollbar {
    display: none;
  }
  
  
  #write #write__wrap::-webkit-scrollbar,
  #preview .mobile::-webkit-scrollbar {
    width: 5px;
  }
  #write #write__wrap::-webkit-scrollbar-thumb,
  #preview .mobile::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 32px;
  }
  
  .section__overlay,
  .article__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.08;
  }

.section__overlay {
  background-color: var(--pc-tr-pc);
}
.article__overlay {
  border-radius: var(--border-radius-24);
  background-color: var(--tr-pc-tr);
  z-index: -1;
}
.section__background {
  background-color: var(--bc-tr-bc);
}
#preview .card,
#preview .card__overlay {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: var(--border-radius-8);
}
#write .card, 
#write .card__overlay {
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: var(--border-radius-16);
}

.card {
  border-color: var(--pc-pc-tr);
}
.article-card {
  border-color: var(--primary-color);
}
.card,
.article-card {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  border-width: 1px;
  border-style: var(--border-style);
  border-color: var(--pc-pc-tr);
}
.article-card__overlay {
  border-radius: var(--border-radius-24);
}
.card__overlay,
.article-card__overlay {
  position: absolute;
  display: var(--block-block-none);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 0.1;
  z-index: -1;
}
@media (max-width: 575px) {  
    #write {
      width: 100%;
    }
    #write section {
      width: 100%;
    }
    #write #write__wrap {
      border-right: unset;
    }
    #preview {
      position: fixed;
      display: block;
      width: 100%;
      height: 100%;
      transform: translateX(100%);
      padding: 0;
      margin: 0;
      -webkit-transition: all .25s ease;
      transition: all .25s ease;
    }
  
    #preview .mobile {
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        border-radius: unset;
        margin-right: 0;
        outline: unset;
      }
  }