// url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
$base-url: "https://oto5works.github.io/storage"; // 기본값
// 폰트 리스트
/*
fontFamilyOptions: [
  { value: "pretendard", title: "프리텐다드" },
  { value: "notoserif", title: "본고딕" },
     { value: "gmarketsans", title: "지마켓 산스" },
  { value: "maruburi", title: "마루부리" },
  { value: "tmon", title: "티몬체" },
  { value: "jalnan", title: "여기어때 잘난체" },
  { value: "iropkebatang", title: "이롭게 바탕체" },
  { value: "hanamdaum", title: "하남다움체" },
  { value: "bccard", title: "BC카드" },
  { value: "scoredream", title: "에스코어 드림" },
  { value: "kimjungchulscript", title: "김정철 손글씨" },
  { value: "nanumsquare", title: "나눔 스퀘어 네오" },
],
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
}
strong {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700 !important;
}
.underline {
  text-decoration: underline;
}
.text-align_left {
  text-align: left;
}
.text-align_right {
  text-align: right;
}
u {
  text-decoration: underline;
}
.font-weight_500 {
  font-weight: 500;
}
.font-weight_700 {
  font-weight: 700;
}

/* Cormorant Garamond Italic */
@font-face {
  font-family: "cormorantgaramond";
  src: url("#{$base-url}/font/cormorantgaramond-300.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "cormorantgaramond";
  src: url("#{$base-url}/font/cormorantgaramond-400.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "cormorantgaramond";
  src: url("#{$base-url}/font/cormorantgaramond-500.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "cormorantgaramond";
  src: url("#{$base-url}/font/cormorantgaramond-600.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "cormorantgaramond";
  src: url("#{$base-url}/font/cormorantgaramond-700.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "GTSuper";
  src: url("#{$base-url}/font/gtsuper.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}

// 프리텐다드
@font-face {
  font-family: "pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("#{$base-url}/font/pretendard-variable.woff2")
    format("woff2-variations");
}
// suit
@font-face {
  font-family: "suit";
  font-weight: 100 900;
  src: url("#{$base-url}/font/suit-variable.woff2") format("woff2-variations");
}
// sourceserif
@font-face {
  font-family: "sourceserif";
  src: url("#{$base-url}/font/sourceserif-variable.woff2")
    format("woff2-variations");
  font-style: normal;
  font-weight: 200 900; /* 가변 폰트의 가중치 범위 */
  font-display: swap;
}
@font-face {
  font-family: "sourceserifitalic";
  src: url("#{$base-url}/font/sourceserifitalic-variable.woff2")
    format("woff2-variations");
  font-style: normal;
  font-weight: 200 900; /* 가변 폰트의 가중치 범위 */
  font-display: swap;
}
// 본명조
@font-face {
  font-family: "notoserif";
  src: url("#{$base-url}/font/notoserif-variable.woff2")
    format("woff2-variations");
  font-style: normal;
  font-weight: 200 900; /* 가변 폰트의 가중치 범위 */
  font-display: swap;
}
@font-face {
  font-family: "ebgaramond";
  src: url("#{$base-url}/font/ebgaramond-variable.woff2")
    format("woff2-variations");
  font-style: normal;
  font-weight: 100 900; /* 가변 폰트의 가중치 범위 */
  font-display: swap;
}

// 마루부리
@font-face {
  font-family: "maruburi";
  src: url("https://jwpggit.github.io/storage/font/maruburi-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "maruburi";
  src: url("https://jwpggit.github.io/storage/font/maruburi-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}
// 마루부리 Light
@font-face {
  font-family: "maruburiLight";
  src: url("https://jwpggit.github.io/storage/font/maruburi-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "maruburiLight";
  src: url("https://jwpggit.github.io/storage/font/maruburi-600.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 티몬체
@font-face {
  font-family: "tmon";
  src: url("https://jwpggit.github.io/storage/font/pretendard-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "tmon";
  src: url("https://jwpggit.github.io/storage/font/tmon-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 여기어때 잘난체 2
@font-face {
  font-family: "jalnan";
  src: url("https://jwpggit.github.io/storage/font/pretendard-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "jalnan";
  src: url("https://jwpggit.github.io/storage/font/jalnan-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 이롭게 바탕체
@font-face {
  font-family: "iropkebatang";
  src: url("https://jwpggit.github.io/storage/font/iropkebatang-500.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "iropkebatang";
  src: url("https://jwpggit.github.io/storage/font/iropkebatang-500.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 평창 평화체
@font-face {
  font-family: "pyeongchangpeace";
  src: url("https://jwpggit.github.io/storage/font/pyeongchangpeace-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "pyeongchangpeace";
  src: url("https://jwpggit.github.io/storage/font/pyeongchangpeace-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// Mapo꽃섬 + Mapo금빛나루
@font-face {
  font-family: "mapo";
  src: url("https://jwpggit.github.io/storage/font/mapoflower.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "mapo";
  src: url("https://jwpggit.github.io/storage/font/mapogolden.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 하남다움체
@font-face {
  font-family: "hanamdaum";
  src: url("https://jwpggit.github.io/storage/font/hanamdaum-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "hanamdaum";
  src: url("https://jwpggit.github.io/storage/font/hanamdaum-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 지마켓 산스
@font-face {
  font-family: "gmarketsans";
  src: url("https://jwpggit.github.io/storage/font/gmarketsans-500.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "gmarketsans";
  src: url("https://jwpggit.github.io/storage/font/gmarketsans-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 지마켓 산스 Light
@font-face {
  font-family: "gmarketsansLight";
  src: url("https://jwpggit.github.io/storage/font/gmarketsans-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "gmarketsansLight";
  src: url("https://jwpggit.github.io/storage/font/gmarketsans-500.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// BC카드
@font-face {
  font-family: "bccard";
  src: url("https://jwpggit.github.io/storage/font/bccard-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "bccard";
  src: url("https://jwpggit.github.io/storage/font/bccard-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 에스코어 드림
@font-face {
  font-family: "scoredream";
  src: url("https://jwpggit.github.io/storage/font/scoredream-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "scoredream";
  src: url("https://jwpggit.github.io/storage/font/scoredream-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 에스코어 드림 Light
@font-face {
  font-family: "scoredreamLight";
  src: url("https://jwpggit.github.io/storage/font/scoredream-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "scoredreamLight";
  src: url("https://jwpggit.github.io/storage/font/scoredream-500.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 김정철 손글씨
@font-face {
  font-family: "kimjungchulscript";
  src: url("https://jwpggit.github.io/storage/font/kimjungchulscript-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "kimjungchulscript";
  src: url("https://jwpggit.github.io/storage/font/kimjungchulscript-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 나눔 스퀘어 네오
@font-face {
  font-family: "nanumsquare";
  src: url("https://jwpggit.github.io/storage/font/nanumsquare-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "nanumsquare";
  src: url("https://jwpggit.github.io/storage/font/nanumsquare-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "nanumsquareneo";
  src: url("https://jwpggit.github.io/storage/font/nanumsquareneo-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "nanumsquareneo";
  src: url("https://jwpggit.github.io/storage/font/nanumsquareneo-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "nanumsquareneo";
  src: url("https://jwpggit.github.io/storage/font/nanumsquareneo-800.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "nanumsquareneo";
  src: url("https://jwpggit.github.io/storage/font/nanumsquareneo-900.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 900;
}
