// url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
}
strong {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700 !important;
}
.underline {
  text-decoration: underline;
}
.text-right {
  text-align: right;
}
u {
  text-decoration: underline;
}
.font-weight_500 {
  font-weight: 500;
}
.font-weight_700 {
  font-weight: 700;
}

// 프리텐다드
@font-face {
  font-family: "pretendard";
  src: url("https://jwpggit.github.io/storage/font/pretendard-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "pretendard";
  src: url("https://jwpggit.github.io/storage/font/pretendard-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}
// 프리텐다드 Light
@font-face {
  font-family: "pretendardLight";
  src: url("https://jwpggit.github.io/storage/font/pretendard-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "pretendardLight";
  src: url("https://jwpggit.github.io/storage/font/pretendard-500.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 본명조
@font-face {
  font-family: "notoserif";
  src: url("https://jwpggit.github.io/storage/font/notoserif-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "notoserif";
  src: url("https://jwpggit.github.io/storage/font/notoserif-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}
// 본명조 Light
@font-face {
  font-family: "notoserifLight";
  src: url("https://jwpggit.github.io/storage/font/notoserif-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "notoserifLight";
  src: url("https://jwpggit.github.io/storage/font/notoserif-500.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 마루부리
@font-face {
  font-family: "maruburi";
  src: url("https://jwpggit.github.io/storage/font/maruburi-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "maruburi";
  src: url("https://jwpggit.github.io/storage/font/maruburi-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}
// 마루부리 Light
@font-face {
  font-family: "maruburiLight";
  src: url("https://jwpggit.github.io/storage/font/maruburi-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "maruburiLight";
  src: url("https://jwpggit.github.io/storage/font/maruburi-600.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 티몬체
@font-face {
  font-family: "tmon";
  src: url("https://jwpggit.github.io/storage/font/pretendard-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "tmon";
  src: url("https://jwpggit.github.io/storage/font/tmon-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 여기어때 잘난체 2
@font-face {
  font-family: "jalnan";
  src: url("https://jwpggit.github.io/storage/font/pretendard-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "jalnan";
  src: url("https://jwpggit.github.io/storage/font/jalnan-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 이롭게 바탕체
@font-face {
  font-family: "iropkebatang";
  src: url("https://jwpggit.github.io/storage/font/iropkebatang-500.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "iropkebatang";
  src: url("https://jwpggit.github.io/storage/font/iropkebatang-500.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 평창 평화체
@font-face {
  font-family: "pyeongchangpeace";
  src: url("https://jwpggit.github.io/storage/font/pyeongchangpeace-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "pyeongchangpeace";
  src: url("https://jwpggit.github.io/storage/font/pyeongchangpeace-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// Mapo꽃섬 + Mapo금빛나루
@font-face {
  font-family: "mapo";
  src: url("https://jwpggit.github.io/storage/font/mapoflower.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "mapo";
  src: url("https://jwpggit.github.io/storage/font/mapogolden.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 하남다움체
@font-face {
  font-family: "hanamdaum";
  src: url("https://jwpggit.github.io/storage/font/hanamdaum-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "hanamdaum";
  src: url("https://jwpggit.github.io/storage/font/hanamdaum-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 지마켓 산스
@font-face {
  font-family: "gmarketsans";
  src: url("https://jwpggit.github.io/storage/font/gmarketsans-500.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "gmarketsans";
  src: url("https://jwpggit.github.io/storage/font/gmarketsans-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 지마켓 산스 Light
@font-face {
  font-family: "gmarketsansLight";
  src: url("https://jwpggit.github.io/storage/font/gmarketsans-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "gmarketsansLight";
  src: url("https://jwpggit.github.io/storage/font/gmarketsans-500.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}


// BC카드
@font-face {
  font-family: "bccard";
  src: url("https://jwpggit.github.io/storage/font/bccard-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "bccard";
  src: url("https://jwpggit.github.io/storage/font/bccard-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 에스코어 드림
@font-face {
  font-family: "scoredream";
  src: url("https://jwpggit.github.io/storage/font/scoredream-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "scoredream";
  src: url("https://jwpggit.github.io/storage/font/scoredream-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 에스코어 드림 Light
@font-face {
  font-family: "scoredreamLight";
  src: url("https://jwpggit.github.io/storage/font/scoredream-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "scoredreamLight";
  src: url("https://jwpggit.github.io/storage/font/scoredream-500.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 김정철 손글씨
@font-face {
  font-family: "kimjungchulscript";
  src: url("https://jwpggit.github.io/storage/font/kimjungchulscript-300.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "kimjungchulscript";
  src: url("https://jwpggit.github.io/storage/font/kimjungchulscript-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

// 나눔 스퀘어 네오
@font-face {
  font-family: "nanumsquare";
  src: url("https://jwpggit.github.io/storage/font/nanumsquare-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "nanumsquare";
  src: url("https://jwpggit.github.io/storage/font/nanumsquare-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}

/*-- 예외 폰트 --*/
// archivo
@font-face {
  font-family: "archivo";
  src: url("https://jwpggit.github.io/storage/font/archivo.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "archivo";
  src: url("https://jwpggit.github.io/storage/font/archivo.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "nanumsquareneo";
  src: url("https://jwpggit.github.io/storage/font/nanumsquareneo-400.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "nanumsquareneo";
  src: url("https://jwpggit.github.io/storage/font/nanumsquareneo-700.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "nanumsquareneo";
  src: url("https://jwpggit.github.io/storage/font/nanumsquareneo-800.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "nanumsquareneo";
  src: url("https://jwpggit.github.io/storage/font/nanumsquareneo-900.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 900;
}


