.layout {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  padding: 0 48px;
  color: rgb(var(--mio-theme-color-on-background));
}
.layer-1 {
  position: sticky;
  grid-column: 1 / 6;
  margin-left: -48px;
  width: calc(100% + 48px);
  height: 100vh;
  top: 0;
  background-color: bisque;
}
.layer-2 {
  position: relative;
  grid-column: 7 / 11;
  display: block;
  width: 100%;
  height: 100%;
}
.layer-3 {
  position: sticky;
  grid-column: 12; /* 1~5열 차지 */
  margin-right: -48px; /* 왼쪽 패딩을 상쇄하기 위한 마이너스 마진 */
  width: calc(100% + 48px); /* 패딩을 상쇄하기 위한 너비 조정 */
  height: 100vh;
  top: 0;
  background-color: bisque;
}


/*--- 프리뷰 영역 ---*/
.mobile {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  aspect-ratio: var(--mio-theme-aspect-ratio);
  border-radius: var(--border-radius-26);
  -webkit-box-shadow: 12px 12px 40px -5px var(--primary-color);
  box-shadow: 12px 12px 40px -5px var(--primary-color);
  opacity: 0.4;
  background-color: aqua;
}

.form-preview::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  aspect-ratio: var(--mio-theme-aspect-ratio);
  border-radius: var(--border-radius-26);
  -webkit-box-shadow: 12px 12px 40px -5px var(--primary-color);
  box-shadow: 12px 12px 40px -5px var(--primary-color);
  opacity: 0.4;
}
.form-preview__wrap {
  position: relative;
  height: 100%;
  transform: scale(0.8);
  aspect-ratio: var(--mio-theme-aspect-ratio);
  overflow: hidden;
  border-radius: var(--border-radius-26);
  contain: layout;
  outline: 6px solid var(--primary-color);
}

/*--- 타블렛 ---*/
@media all and (max-width: 1023px) {
  .form-content {
    display: block;
    width: 100%;
    padding: 0;
  }
  .form-preview {
    position: fixed;
    display: block;
    left: 0;
    top: 56px;
    width: 100%;
    height: calc(100% - 56px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    transform: translateX(-100%);
  }
  .form-preview::before {
    display: none;
  }
  .form-preview.active {
    transform: translateX(0);
  }
  .form-preview__wrap {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1);
    aspect-ratio: unset;
    border-radius: unset;
    outline: unset;
  }
}

/*--- 모바일 ---*/
@media all and (max-width: 479px) {
}

.editor {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 72px;
  margin-top: 96px;
}
.editor .editor-item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.spacing-editor {
  height: 72px;
}
/*--- tab-navigation ---*/
.tab-navigation .v-tab.v-tab {
  padding: 0 16px;
}
.tab-navigation.v-slide-group--vertical .v-tab.v-tab {
  padding: 0 16px;
}
.tab-navigation .v-btn__content {
  color: var(--pc-pc-tr);
  gap: 4px;
}
.tab-navigation .v-btn__content span {
  color: var(--font-color);
  font-size: 14px;
  font-weight: 400;
}
// selected
.tab-navigation .v-tab--selected .v-btn__content span {
  color: var(--po-po-pc);
  font-weight: 700;
}
.tab-navigation .v-tab--selected {
  color: var(--po-po-pc);
}

.tab-navigation .v-tab__slider {
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: var(--border-radius-32);
  background-color: var(--pc-pc-tr);
  border-width: 1px;
  border-style: var(--border-style);
  border-color: var(--po-po-pc);
}
.tab-navigation.v-slide-group--vertical .v-tab__slider {
  width: 100%;
  z-index: -1;
  border-radius: var(--border-radius-32);
  background-color: var(--pc-pc-tr);
  border-width: 1px;
  border-style: var(--border-style);
  border-color: var(--po-po-pc);
}

/*-- navigation__mobile --*/
.form .form-nav-mobile {
  position: sticky;
  top: 56px;
  background-color: var(--background-color);
}
.navigation__mobile .v-slide-group__container svg {
  color: var(--po-po-pc);
}
.navigation__mobile .v-slide-group__content {
  gap: 4px;
}
.navigation__mobile.tab-navigation .v-tab.v-tab {
  //padding: unset;
  //flex: 1;
}
.navigation__mobile.tab-navigation .v-btn__content span {
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-align: left;
}
.tab-navigation .v-tab--selected .v-btn__content .step {
  font-size: 8px;
}
.navigation__mobile.tab-navigation .v-tab--selected .v-btn__content span {
  line-height: 100%;
  font-weight: 700;
}
.navigation__mobile.v-tabs--density-default {
  --v-tabs-height: 48px;
  align-items: center;
  padding: 0 8px;
}
