.layout {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  padding: 0 48px;
  color: rgb(var(--mio-theme-color-on-background));
}
.layer-1 {
  position: sticky;
  grid-column: 1 / 6;
  margin-left: -48px;
  width: calc(100% + 48px);
  height: 100vh;
  top: 0;
}
.layer-2 {
  position: relative;
  grid-column: 7 / 11;
  display: block;
  width: 100%;
  height: 100%;
}
.layer-3 {
  position: sticky;
  grid-column: 12; /* 1~5열 차지 */
  margin-right: -48px; /* 왼쪽 패딩을 상쇄하기 위한 마이너스 마진 */
  width: 100%; /* 패딩을 상쇄하기 위한 너비 조정 */
  height: 100vh;
  top: 0;
  overflow: hidden;
}
.layer-4 {
  position: relative;
  grid-column: 1 / 11;
  display: block;
  width: 100%;
  height: 100%;
}



/*--- 프리뷰 영역 ---*/
.mobile {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  aspect-ratio: var(--mio-theme-aspect-ratio);
  border-radius: var(--border-radius-26);
  -webkit-box-shadow: 12px 12px 40px -5px var(--primary-color);
  box-shadow: 12px 12px 40px -5px var(--primary-color);
  opacity: 0.4;
  background-color: aqua;
}

.form-preview::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  aspect-ratio: var(--mio-theme-aspect-ratio);
  border-radius: var(--border-radius-26);
  -webkit-box-shadow: 12px 12px 40px -5px var(--primary-color);
  box-shadow: 12px 12px 40px -5px var(--primary-color);
  opacity: 0.4;
}
.form-preview__wrap {
  position: relative;
  height: 100%;
  transform: scale(0.8);
  aspect-ratio: var(--mio-theme-aspect-ratio);
  overflow: hidden;
  border-radius: var(--border-radius-26);
  contain: layout;
  outline: 6px solid var(--primary-color);
}

/*--- 타블렛 ---*/
@media all and (max-width: 1023px) {
  .form-content {
    display: block;
    width: 100%;
    padding: 0;
  }
  .form-preview {
    position: fixed;
    display: block;
    left: 0;
    top: 56px;
    width: 100%;
    height: calc(100% - 56px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    transform: translateX(-100%);
  }
  .form-preview::before {
    display: none;
  }
  .form-preview.active {
    transform: translateX(0);
  }
  .form-preview__wrap {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1);
    aspect-ratio: unset;
    border-radius: unset;
    outline: unset;
  }
}

/*--- 모바일 ---*/
@media all and (max-width: 479px) {
}

.editor {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 72px;
  margin-top: 12vh;
}
.editor .editor-item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.editor .editor-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
