.HeroImage {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-weight: 400;
    background-color: aqua;
    margin: 8px 8px;
    border-radius: 24px;
    background-image: url(src/assets/image/main/main.jpg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: cover;
}
.HeroImage__wrap {
    display: block;
    margin: 0 64px;
    max-width: 1330px;
    width: 100%;
}
.HeroImage__content {
    flex-direction: row;
    display: flex;
    width: 100%;
}
.HeroImage__content .left__wrap {
    width: 550px;
    z-index: 2;
    flex-direction: column;
    height: 100%;
    padding-top: 93px;
    padding-bottom: 92px;
    display: flex;
}
.HeroImage__content .left__wrap .title {
    margin-bottom: 35px;
    display: block;
}
.HeroImage__content .left__wrap .title h1 {
    font-family: 'spoqa';
    color: rgba(8, 8, 8, 1);
    font-size: 112px;
    line-height: 95px;
    font-weight: 400;
}
.HeroImage__content .left__wrap .content {
    width: 80%;
    margin-bottom: 50px;
}
.HeroImage__content .left__wrap .content h2 {
    font-family: 'spoqa';
    color: rgba(41, 41, 41, 1);
    line-height: 28px;
    font-size: 22px;
}
.HeroImage__content .left__wrap .button {
    font-size: 20px;
    width: 213px;
    padding: 7px 20px 9px;
    line-height: 24px;
    border-radius: 99em;
    background: rgba(25, 25, 25, 1);
    color: rgba(255, 255, 255, 1);
}