// Color Set
#v-appbar {
    background-color: var(--root-background-color);
    border-bottom-color: var(--root-disabled-color);
  }
.appbar__overlay {
    background-color: var(--root-primary-color);
}
#v-appbar {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    padding: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: 'spoqaline';
    z-index: 998;
}
.button-appbar {
    height: 48px;
}
.button-appbar svg {
    width: 26px;
    height: 26px;
    z-index: 1;
}
.appbar__overlay {
    position: absolute;    
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 56px;
}  
.appbar-icon__wrap {
    width: 32px;
    height: 32px;
}
.button-appbar span {
    font-size: 16px;
    line-height: 100%;
    z-index: 1;
}
@media (max-width: 575px) {
    #v-appbar {
        display: block;
    }
}