.vc-container {
    position: relative;
    display: block;
    width: 100%;
}
.vc-pane-container {
    display: block;
    width: 100%;
}
.vc-pane-layout {
    position: relative;
    display: block;
    width: 100%;
}
.vc-pane-header-wrapper {
    display: none;
}
.vc-header {
    display: none;
}
.vc-weekday {
    text-align: center;
    font-weight: var(--font-weight);
    font-size: 15px;
    line-height: 267%;
    cursor: default;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .vc-week,
  .vc-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
  }


// day

  .vc-day-box-center-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }



  /* ----Highlights---- */
  .vc-highlights {
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
  }
  .vc-highlight {
    width: 32px;
    height: 32px;
    background: var(--pc-pc-tr);
    border-radius: var(--border-radius-32);
    border-width: 1px;
    border-style: var(--border-style);
    border-color: var(--po-po-pc);
  }
  .vc-highlight-content-solid {
    color: var(--po-po-pc);
    font-weight: var(--font-weight);
  }



  .vc-day-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
 
  .vc-day {
    position: relative;
    min-height: 32px;
    z-index: 1;
  }
  .vc-monthly .is-not-in-month * {
    opacity: 0;
    pointer-events: none;
  }
  .vc-day-layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
  }
  .vc-day-content {
    line-height: 267%;
    font-size: 15px;
  }





