.v-dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
}
.v-dropdown .selected {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: var(--border-radius-12);
  user-select: none;
  outline-width: 1px;
  outline-style: var(--border-style);
  outline-color: var(--primary-color)
}
.v-dropdown .selected span {
  color: var(--font-color);
  margin-left: 10px; 
  z-index: 1; 
}
.v-dropdown .font {
  display: flex;
  align-items: center;
  height: 40px;
  margin-left: 10px;
}
.v-dropdown .bank__content svg {
  color: var(--primary-color);
}

.v-dropdown .selected .CaretDown svg { 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  margin-right: 10px;
  z-index: 1;
}
.v-dropdown .selected .CaretDown svg { 
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.v-dropdown .selected.open .CaretDown svg { transform: rotate(180deg) }

.v-dropdown .selected .overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: .1;
  &:hover {
    opacity: .15;
  }
}
.v-dropdown .selected.open .overlay {
  opacity: .15;
}
.v-dropdown .selected.open {
    border-radius: var(--border-radius-12) var(--border-radius-12) 0px 0px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--primary-color);
}

  // 아이템 리스트
.selectHide { display: none }
.v-dropdown .items__wrap {
    position: absolute;
    border-radius: 0px 0px var(--border-radius-12) var(--border-radius-12);
    outline: 1px solid var(--primary-color);
    overflow-y: auto;
    background-color: var(--background-color);
    left: 0;
    right: 0;
    max-height: 160px;
    z-index: 15;
}
.v-dropdown .items__wrap .items__content {
    position: relative;
    display: block;
    width: 100%;
    &:hover {
      background-color: var(--primary-color);
      color: var(--primary-on);
      fill: var(--primary-on);
    }
}
.v-dropdown .items__wrap .items__content:hover .bank__content svg {
    color: var(--primary-on);
}

.v-dropdown .items__wrap .items__content span {
    margin-left: 10px; 
}
.v-dropdown .items__wrap .items__content .items__hr {
    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
}