// 공통
.filepond--root {
	min-height: 200px;
}
.filepond--root .filepond--drop-label {
	min-height: 180px;
}
.filepond--image-preview-overlay-success {
	color: var(--primary-color);
}
// 공통 - 액션버튼
.filepond--file-action-button {
	background-color: var(--primary-color);
}
// 에딧 버튼
.filepond--action-edit-item.filepond--action-edit-item[data-align*=bottom] {
	margin-bottom: 0;
}
.filepond--file [data-align*=bottom] {
	bottom: 0;
}
// filepond 기본
.main-pond {
	position: relative;
	display: block;
	width: 100%;
	height: 300px;
}
.main-pond .filepond--wrapper {
	width: 100%;
	height: 100%;
}
.main-pond .filepond--wrapper .filepond--root {
	margin-bottom: unset;
	height: 100%!important;
	contain:none;
}
// credits
.main-pond .filepond--wrapper .filepond--root .filepond--credits {
	display: none;
}
// 라벨
.main-pond .filepond--wrapper .filepond--root .filepond--drop-label {
	color: var(--primary-color);
	height: 100%;
}
.main-pond .filepond--wrapper .filepond--root .filepond--drop-label label {
	font-size: 18px!important;
}



.filepond-icon__wrap { 
    position: relative;
    display: flex;
    width: 100%;
}
  .filepond--label-action::before { 
    position: relative;
    display: block;
    content:'';
    width: 48px;
    height: 48px;
	left: 50%;
	transform: translateX(-50%);
    background-color: var(--primary-color);
    -webkit-mask-image: url('https://jwpggit.github.io/storage/image/card/filepond.svg');
    mask-image: url('https://jwpggit.github.io/storage/image/card/filepond.svg');
    background-size:cover;
}


.filepond--label-action {
	font-size: 18px!important;
	font-weight: 700!important;
	text-decoration-color: var(--primary-color);
}
.filepond--label-text {
	margin-top: 8px;
	font-size: 14px!important;
	opacity: .8;
}
// 배경
.filepond--panel-root {
	border-radius: unset;
	background-color: unset;
}

// filepond 다중 아이템
.file-multi .filepond--item {
    width: calc(33% - 10px);
}
.filepond--item {
    position: absolute;
    top:0;
	left:0;
	right:0;
	z-index:1;
	padding:0;
	margin:.25em;
	will-change:transform,opacity
}
.filepond--panel-bottom, .filepond--panel-center {
 
}
.filepond--credits {
	width: 100%;
	text-align: center;
	display: none;
}


