.size_220 .flicking__content { width: 220px }
.size_160 .flicking__content { width: 160px }
.size_120 .flicking__content { width: 120px }
.size_64 .flicking__content { width: 64px }

.flicking-viewport {
    padding-top: 20px;
}
.flicking__content {
    cursor: pointer;
}
.flicking-arrow-prev.flicking-arrow-disabled,
.flicking-arrow-next.flicking-arrow-disabled {
  display: none;
  opacity: 0;
}
.flicking-viewport:hover .flicking-arrow-prev,
.flicking-viewport:hover .flicking-arrow-next {
  display: flex;
}
.flicking-arrow-prev,
.flicking-arrow-next {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  display: none;
  color: var(--primary-on);
}
.flicking-arrow-prev::after,
.flicking-arrow-next::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 1;
    border-radius: 32px;
}
.flicking-arrow-prev {
  left: 4px;
}
.flicking-arrow-next {
  right: 4px;
}
.flicking-arrow-prev svg,
.flicking-arrow-next svg {
  width: 18px;
  height: 18px;
  z-index: 1;
}

.flicking-viewport .flicking__content {
    position: relative;
}
.flicking-viewport.main .flicking-camera {
    gap: 12px;
}
.flicking-viewport .check {
    display: none;
}
.flicking-viewport.main .active .check {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    background-color: var(--primary-color);
}
.flicking-viewport.main .check svg {
    width: 22px;
    height: 22px;
}
.flicking-viewport.main .active .check {
    background-color: var(--primary-color);
}
.flicking-viewport.main .check svg {
    color: var(--primary-on);
}





.flicking-viewport.main img {
    width: 100%;
    height: auto;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #fafafa;
}
.flicking-viewport.main .active .flicking-svg,
.flicking-viewport.main .active img {
    outline: 2px solid var(--primary-color)
}
.flicking-viewport.main.full .flicking-pagination {
    margin-top: 32px;
    margin-left: 4vw;
    margin-right: 4vw;
}
.flicking-pagination {
    margin-top: 32px;
}
.flicking-pagination-bullets {
    display: flex;
    padding: 0 16px;
}
.flicking-pagination-bullet {
    flex: 1;
    height: 2px;
    background-color: var(--primary-color);
    opacity: 0.4;
}
.flicking-pagination-bullet-active {
    opacity: 1;
}

.flicking-viewport.color .flicking__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flicking-viewport.color .color__wrap {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
}
.flicking-viewport.color .active .color__wrap {
    box-shadow: 0 0 0 2px var(--primary-color) inset;
}
.flicking-viewport.color .active .check {
    position: absolute;
    display: flex;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    background-color: var(--primary-color);
}
.flicking-viewport.color .check svg {
    color: var(--primary-on);
    width: 14px;
    height: 14px;
}
.flicking-viewport.color h4 {
    text-align: center;
}


// 구성요소 색상일 경우 색상은 반대 색상이 된다.
.flicking-viewport.color.primary .active .color__wrap {
    box-shadow: 0 0 0 2px var(--primary-on) inset;
}
.flicking-viewport.color.primary .active .check {
    background-color: var(--primary-on);
}
.flicking-viewport.color.primary .check svg {
    color: var(--primary-color);
}

// svg일 경우
.flicking-svg {
    height: 160px;
}
.flicking-svg svg {
    width: 120px;
    height: 120px;
}
.flicking-svg__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.1;
    z-index: -1;
}
// 테마일 경우
.flicking_theme {
    position: relative;
    height: 200px;
    overflow: hidden;
    padding: 8px;
}
.flicking_theme svg {
    width: 60px;
    height: 60px;
}
.flicking_theme .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.flicking_theme .background__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .15;
    z-index: -1;
}


@media (max-width: 575px) {
    .flicking-viewport.main.full .flicking-pagination {
        margin-left: 0;
        margin-right: 0;
    }
}