// hr
// hr
.h-hr {
    border-color: var(--mio-theme-color-on-background);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    height: 1px;
}
.v-hr {
    width: 1px;
    height: 100%;
    background-color: var(--mio-theme-color-on-background);
}
.config .h-hr {
    border-color: var(--primary-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    height: 1px;
}
.config .v-hr {
    width: 1px;
    height: 100%;
    background-color: var(--primary-color);
}