.v-switch--inset {
    color: var(--primary-on);
}
.v-switch--inset .v-selection-control.v-selection-control--dirty .v-selection-control__wrapper {
    opacity: 1;
}
.v-switch--inset .v-selection-control .v-selection-control__wrapper {
    opacity: 1;
}


/* Track */
.v-switch--inset .v-switch__track {
    position: relative;
    border-radius: var(--border-radius-16);
    background-color: transparent;
    border-color: var(--primary-color);
    border-style: var(--border-style);
    border-width: 1px;
    -webkit-box-shadow: var(--box-shadow-2) var(--primary-color); 
    box-shadow: var(--box-shadow-2) var(--primary-color); 
}
.v-switch--inset .v-selection-control.v-selection-control--dirty .v-switch__track::before {
    opacity: .4;
}
.v-switch--inset .v-switch__track::before {
    position: absolute;
    content: '';
    border-radius: var(--border-radius-16);
    background-color: var(--pc-pc-tr);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
}
/* Thumb */
.v-switch--inset .v-switch__thumb {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-16);
    width: 16px;
    height: 16px;
    opacity: .6;
}
.v-switch--inset .v-switch__thumb::before {
    position: absolute;
    content:'';
    width: 14px;
    height: 14px;
    background-color: var(--primary-on);
    -webkit-mask-image: url('https://jwpggit.github.io/storage/image/card/minus.svg');
    mask-image: url('https://jwpggit.github.io/storage/image/card/minus.svg');
    background-size:cover;
}
.v-switch--inset .v-selection-control.v-selection-control--dirty .v-switch__thumb {
    width: 20px;
    height: 20px;
    opacity: 1;
}
.v-switch--inset .v-selection-control.v-selection-control--dirty .v-switch__thumb::before {
    position: absolute;
    content:'';
    width: 14px;
    height: 14px;
    background-color: var(--primary-on);
    -webkit-mask-image: url('https://jwpggit.github.io/storage/image/card/check.svg');
    mask-image: url('https://jwpggit.github.io/storage/image/card/check.svg');
    background-size:cover;
}
