// greenyellow 를 텍스트 색으로 바꾸고, 나머지는 vriable 에서 설정할것...
// 공통 부분
.v-field__field input,
.v-label.v-field-label {
    color: var(--font-color);
}
.v-field--variant-filled .v-field__outline::before, .v-field--variant-underlined .v-field__outline::before,
.v-field--variant-filled .v-field__outline::before, .v-field--variant-underlined .v-field__outline::after {
    color: var(--primary-color);
}
.v-field--variant-outlined .v-field__outline {
    color: var(--primary-color);
}
.v-field--variant-outlined .v-field__overlay {
    background-color: var(--primary-color);
}
/*
.card .v-field--variant-outlined .v-field__outline {
    color: var(--po-pc-tr);
}
.card .v-field--variant-outlined .v-field__overlay {
    background-color: var(--po-pc-tr);
}
*/
.v-input {
    font-size: unset;
}
.v-field {
    font-size: 15px;
    border-radius: unset;
    letter-spacing: unset;
}
.v-input .v-label {
    font-size: unset;
}
.v-field__input {
    min-height: unset;
    padding-inline-start: unset;
    padding-inline-end: unset;
    padding-top: unset;
    padding-bottom: unset;
    line-height: 40px;
}
.v-text-field input {
    height: 40px;
    padding-left: 10px;
}
.v-label.v-field-label {
    margin-left: 8px;
}
.v-input--density-default {
    --v-input-control-height: 40px;
    --v-input-padding-top: 16px;
}
.v-label.v-field-label--floating {
    font-size: 0.8em;
}


// 아웃라인 추가
.v-field--variant-underlined .v-label.v-field-label, .v-field--variant-plain .v-label.v-field-label {
    top: 8px;
}



.v-field--variant-plain .v-label.v-field-label--floating, .v-field--variant-underlined .v-label.v-field-label--floating {
    margin-left: 8px
}
.v-input__details {
    min-height: 18px;
    padding-top: unset;
}

// 노말 상태 : v-field--variant-filled


.v-field--variant-outlined .v-field__outline {
    --v-field-border-width: 1px;
}
.v-field--variant-outlined.v-field--focused .v-field__outline {
    --v-field-border-width: 1.5px;
}
.v-field--variant-filled .v-field__outline::after, .v-field--variant-underlined .v-field__outline::after {
    border-width: 0 0 1.5px;
}
.v-field--variant-outlined .v-field__outline__end.v-locale--is-ltr, .v-locale--is-ltr .v-field--variant-outlined .v-field__outline__end {
    border-radius: 0 var(--border-radius-12) var(--border-radius-12) 0;
}
.v-field--variant-outlined .v-field__outline__start.v-locale--is-ltr, .v-locale--is-ltr .v-field--variant-outlined .v-field__outline__start {
    border-radius: var(--border-radius-12) 0 0 var(--border-radius-12);
}
.v-field--variant-outlined .v-label.v-field-label--floating {
    margin: 0;
}
.v-field--variant-outlined {
    border-radius: var(--border-radius-12);
}
.v-field--variant-outlined .v-field__overlay {
    border-radius: inherit;
    opacity: 10%;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.v-field--variant-outlined:hover .v-field__overlay {
    opacity: 15%;
}
.v-field--variant-outlined.v-field--focused .v-field__overlay {
    opacity: 15%;
}
.v-field--variant-outlined .v-field__outline__start, .v-field--variant-outlined .v-field__outline__notch::before, .v-field--variant-outlined .v-field__outline__notch::after, .v-field--variant-outlined .v-field__outline__end {
    border-style: var(--border-style);
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: relative;
    display: block;
    opacity: 0;
  }
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator,
.v-text-field__icon {
    right: 10px;
    width: 28px;
    height: 28px;
}
.v-text-field__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
} 
.v-text-field__icon svg {
    width: 20px;
    height: 20px;
}
.v-input__details {
    display: none;
}
// v-field--focused v-field--active 