// style
:root {
  --mio-theme-color-primary: 22, 22, 22;
  --mio-theme-color-on-primary: 248, 248, 248;
  --mio-theme-color-primary-05: 246, 246, 240;
  --mio-theme-color-primary-07: 242, 242, 236;

  --mio-theme-color-primary-05: 246, 246, 240;

  --mio-theme-color-primary-10: 237, 237, 230;
  --mio-theme-color-primary-20: 218, 218, 210;
  --mio-theme-color-primary-30: 196, 196, 185;

  --mio-theme-color-primary-40: 184, 184, 184;
  --mio-theme-color-primary-70: 138, 138, 138;
  --mio-theme-color-primary-90: 49, 49, 49;

  --mio-theme-color-background: 255, 255, 255;
  --mio-theme-color-on-background: 22, 22, 22;
  --mio-theme-color-on-background-20: 217, 217, 217;
  --mio-theme-color-on-background-40: 153, 153, 153;
  --mio-theme-color-on-background-70: 73, 69, 79;

  --mio-theme-color-error: 179, 38, 30;
  --mio-theme-color-secondary: 79, 96, 251;
  --mio-theme-color-on-secondary: 255, 255, 255;

  --mio-theme-image-resize: url("https://oto5works.github.io/storage/image/mochung/resize.svg");
  --mio-theme-screen-width: 1023px;
  --mio-theme-aspect-ratio: 375 / 812; // 아이폰x 해상도 비율
  --mio-theme-font-family: "pretendard";
  --mio-theme-font-family-sp: "EBGaramond", "pretendard", sans-serif; // EBGaramond, GTSuper

  --mio-theme-editor-spacing-top: 18vh;



}

html[data-design-theme="design1"] {
}
html[data-design-theme="design2"] {
}
html[data-design-theme="design3"] {
}

/*--- align ---*/
html[data-align-theme="left"] {
  --text-align: left;
  --justify-content: flex-start;
  --align-items: flex-start;
  // onInv Preview title max-width
}
html[data-align-theme="center"] {
  --text-align: center;
  --justify-content: center;
  --align-items: center;

  // onInv Preview title max-width
}
html[data-align-theme="right"] {
  --text-align: right;
  --justify-content: flex-end;
  --align-items: flex-end;

  // onInv Preview
}

/*--- border-radius ---*/
html[data-radius-theme="0"] {
  --border-radius_12: unset;
  --border-radius_14: unset;
  --border-radius_20: unset;

  --border-radius_24: unset;
  --border-radius_28: unset;
}
html[data-radius-theme="1"] {
  --border-radius_12: 12px;
  --border-radius_14: 14px;
  --border-radius_20: 20px;

  --border-radius_24: 24px;
  --border-radius_28: 28px;
}
html[data-radius-theme="2"] {
  --border-radius_12: 12px;
  --border-radius_14: 14px;
  --border-radius_20: 20px;

  --border-radius_24: 24px;
  --border-radius_28: 28px;
}
html[data-radius-theme="3"] {
  --border-radius_12: 12px;
  --border-radius_14: 14px;
  --border-radius_20: 20px;
  --border-radius_24: 24px;
  --border-radius_28: 28px;
}


/*--- font-size ---*/
html[data-font-size-theme="1"] {
  --font-size_11: 11px;
  --font-size_12: 12px;
  --font-size_13: 13px;
  --font-size_16: 16px;

  --font-size_22: 22px;

  --font-size_24: 24px;
  --font-size_32: 32px;
  --font-size_48: 48px;
}
html[data-font-size-theme="2"] {
  --font-size_11: 11px;
  --font-size_12: 12px;
  --font-size_13: 13px;
  --font-size_16: 16px;
  --font-size_22: 22px;
  --font-size_24: 24px;
  --font-size_32: 32px;

  --font-size_48: 48px;
}
html[data-font-size-theme="3"] {
  --font-size_10: 10px;

  --font-size_11: 11px;
  --font-size_12: 12px;
  --font-size_13: 13px;
  --font-size_16: 16px;

  --font-size_22: 22px;
  --font-size_24: 24px;
  --font-size_32: 32px;

  --font-size_48: 48px;
}
html[data-font-size-theme="4"] {
}

/*--- font-weight ---*/
html[data-font-weight-theme="light"] {
  --font-weight_400: 400;
  --font-weight_500: 500;
  --font-weight_700: 700;
}
html[data-font-weight-theme="medium"] {
  --font-weight_400: 400;
  --font-weight_500: 500;
  --font-weight_700: 700;
}
html[data-font-weight-theme="bold"] {
  --font-weight_400: 400;
  --font-weight_500: 500;
  --font-weight_700: 700;
}