/*--- 규칙 ---*/
/*
1. absolute_100 은 자주사용된다. 확인.
2. after는 아웃라인 before은 그림자
3. 
*/
.absolute_100 {
  @include absolute_100;
  border-radius: inherit;
  pointer-events: none;
}
.absolute_100::before {
  @include absolute_100;
  border-radius: inherit;
}
.absolute_100::after {
  @include absolute_100;
  border-radius: inherit;
}
/*--- shadow ---*/
// 아주 강한 그림자 대형
.box-shadow_1-pc::before {
  display: var(--box-shadow-display);
  -webkit-box-shadow: 0 32px 96px var(--primary-color);
  box-shadow: 0 32px 96px var(--primary-color);
  opacity: .2;
}
.box-shadow_1-bo::before {
  display: var(--box-shadow-display);
  -webkit-box-shadow: 0 32px 96px var(--background-on);
  box-shadow: 0 32px 96px var(--background-on);
  opacity: .2;
}
// 강한 그림자 컨텐츠wrap
.box-shadow_2-pc::before {
  display: var(--box-shadow-display);
  -webkit-box-shadow: 0 10px 35px -5px var(--primary-color);
  box-shadow: 0 10px 35px -5px var(--primary-color);
  opacity: .16;
}
// 보통 그림자 버튼같은
.box-shadow_3-pc::before {
  display: var(--box-shadow-display);
  -webkit-box-shadow: 0 10px 20px -10px var(--primary-color);
  box-shadow: 0 10px 20px -10px var(--primary-color);
  opacity: 1;
}
// 약한 그림자
.box-shadow_4-pc::before {
  display: var(--box-shadow-display);
  -webkit-box-shadow: 0 8px 20px 0 var(--primary-color);
  box-shadow: 0 8px 20px 0 var(--primary-color);
  opacity: .04;
}
/*--- outline ---*/
.outline_pc::after {
  outline-style: var(--border-style);
  outline-width: 1px;
  outline-color: var(--primary-color);
}
.outline_bo::after {
  outline-style: var(--border-style);
  outline-width: 1px;
  outline-color: var(--background-on);
}
/*--- overlay ---*/
.overlay_pc {
  background-color: var(--primary-color);
  opacity: 0.08;
}



