.archive-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f6f6f0;
  background-position: center;
  background-size: cover;
}
.archive {
  color: var(--mio-theme-color-on-background);
  margin-top: var(--mio-theme-editor-spacing-top);
}
.archives {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 0 48px;
}
.archiveCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 24px 0 24px;
  background-color: rgb(var(--mio-theme-color-primary-05));
  border-radius: 26px;
}
.archiveCard .header-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.archiveCard .link {
  font-size: 13px;
  text-decoration: underline;
  color: rgb(var(--mio-theme-color-secondary));
  cursor: pointer;
}
.archiveCard .title-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 24px 0;
}
.archiveCard .title {
  font-size: 28px;
  font-weight: 700;
}
.archiveCard .image-wrap {
  width: 100%;
  height: 164px;
  background-position: center;
  background-size: 100%;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}
.archiveCard:hover .image-wrap {
  background-size: 108%;
}

.archiveCard .functions-wrap {
  position: relative;
  display: flex;
  gap: 8px;
  padding: 16px 0;
}
.archiveCard .footer-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid rgb(var(--mio-theme-color-primary-10));
}
/*-- payment --*/
.archiveCard .pay-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.archiveCard .pay-wrap .thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* 축소 방지 */
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgb(var(--mio-theme-color-primary-10));
}

.archiveCard .pay-wrap .thumb.active {
  color: white;
  background: linear-gradient(135deg, #5978e7 0%, #756fd1 50%, #9266ae 100%);
}
.archiveCard .pay-wrap .content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.archiveCard .pay-wrap .content .payment {
  font-size: 15px;
  font-weight: 500;
}
.archiveCard .pay-wrap .content .dateExp {
  font-size: 11px;
}

/*-- more --*/
.archiveCard .tooltipMenu {
  position: absolute;
  top: 40px;
  right: 0;
}
