.archive-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f6f6f0;
  background-position: center;
  background-size: cover;
}

.archiveCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(var(--mio-theme-color-white));
  border-radius: 28px;
  grid-column: auto / span 4;
  overflow: hidden;
}
.archiveCard .archiveCard-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 24px;
}
.archiveCard .creativeAt {
  font-size: 1em;
  font-family: var(--mio-theme-font-family-sp);
opacity: 0.7;
}

.archiveCard .header-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.archiveCard .link {
  font-size: 13px;
  text-decoration: underline;
  color: rgb(var(--mio-theme-color-secondary));
  cursor: pointer;
}
.archiveCard .title-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 24px 0;
  z-index: 2;
}
.archiveCard .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 500;
}
.archiveCard .image-wrap {
  width: 100%;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  aspect-ratio: 4 / 3;
}
.archiveCard:hover .image-wrap {
  background-size: 108%;
}

.archiveCard .functions-wrap {
  position: relative;
  display: flex;
  gap: 8px;
  padding: 16px 0;
}
.archiveCard .footer-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  width: 100%;
  padding: 24px 0;
  border-top: 1px solid rgb(var(--mio-theme-color-primary-10));
}
/*-- payment --*/
.archiveCard .pay-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.archiveCard .pay-wrap .thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* 축소 방지 */
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgb(var(--mio-theme-color-primary-10));
}

.archiveCard .pay-wrap .thumb.active {
  color: white;
  background: linear-gradient(135deg, #5978e7 0%, #756fd1 50%, #9266ae 100%);
}
.archiveCard .pay-wrap .content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.archiveCard .pay-wrap .content .payment {
  font-size: 15px;
  font-weight: 500;
}
.archiveCard .pay-wrap .content .dateExp {
  font-size: 11px;
}

/*-- more --*/
.archiveCard .tooltipMenu {
  position: absolute;
  top: 40px;
  right: 0;
}
