.deposits {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;  
}
.deposits .deposits-item {
  width: 100%;
  border-radius: 24px;
  transition: all 0.3s ease;
}

.deposits .deposits-button {
  justify-content: space-between;
  height: 72px;
  padding: 0 24px;
  width: 100%;
  transition: all 0.2s ease;
}
.deposits .deposits-button.selected {
  height: 40px;
}
.deposits .deposits-panels {
  padding: 0 24px;
}


/*-- design --*/
// design 1
.deposits.design1 .deposits-item {
  color: rgb(var(--primary-on));
  background-color: rgb(var(--primary-color));
}
.deposits.design1 .deposits-item.selected {
  color: rgb(var(--font-color));
  background-color: rgb(var(--background-color));
}
// design 2
.deposits.design2 .deposits-item {
  color: rgb(var(--font-color));
  background-color: rgb(var(--background-color));
}
// design 3
.deposits.design3 .deposits-item {
  color: rgb(var(--font-color));
  background-color: rgb(var(--background-color));
}
// deposits-line 
.deposits.design3 .deposits-line {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
  width: calc(100% + 16px);
  height: 1px;
  background-color: rgba(var(--primary-color), 0.4);
}




/*-- deposit --*/
.deposit {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid rgba(var(--primary-color), .24);
}
.deposit .deposit-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  text-align: left;
}
.deposit .deposit-list .title {
  font-size: var(--font-size_12);
}
.deposit .deposit-list .content {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--font-size_13);
  font-weight: 700;
}